.dropdown-menu-container {
    .menu-button {
        float: left;
        width: 29px;
        height: 25px;
    }
    .menu-title {
        float: left;

        &:focus,
        &:hover {
            text-decoration: none;
        }
        .menu-image {
            border-radius: 10%;
            margin: 0;
        }
        .label-username {
            float: right;
            margin: 11px 5px 11px 15px;
            font-size: 14px;
            line-height: 1.3;
        }
    }
}
.header-global .wrapper-header .dropdown-menu {
    top: 100%;
}