<%! from django.utils.translation import ugettext as _ %>
<%namespace name='static' file='../static_content.html'/>
<%
course_mode_class = course_mode if course_mode else ''
%>
<link href="https://fonts.googleapis.com/css?family=PT+Serif" rel="stylesheet">
<main class="accomplishment accomplishment-main certificates">

    <div class="wrapper-accomplishment-rendering certificates_wrapper">

        <div class="certificates_top-holder">
            <img src="/static/certificates/images/logo.png" alt="" class="certificates_platform-logo">
            <div class="certificates_static-title">
                <strong>СЕРТИФИКАТ</strong>
                <span>С ОТЛИЧИЕМ</span>
            </div>
            <div class="certificates_date-holder">
                <span>${certificate_date_issued_title}</span>
                <span>${certificate_date_issued}</span>
            </div>
        </div>
        <div class="certificates_main-holder">
            <div class="certificates_main-left">
                <div class="certificates_holder-name">${accomplishment_copy_name | h}</div>
                <div class="certificates_description">${accomplishment_copy_description_full}</div>
                <div class="certificates_number">${course_number}</div>
                <div class="certificates_course-name">${accomplishment_copy_course_name}</div>
                <div class="certificates_statement-detail">${accomplishment_copy_course_description}</div>
                <div class="certificates_static-field">Курс подготовлен Открытым Университетом Егора Гайдара</div>
            </div>
            <div class="certificates_main-right">
                <img src="/static/certificates/images/stamp.png" alt="" class="certificates_stamp">
            </div>
        </div>
        <div class="certificates_signs-holder">
            % if certificate_data:
                % for signatory in certificate_data.get('signatories', []):
                <div class="certificates_sign">
                    <img class="certificates_sign-image" src="${static.url(signatory['signature_image_path'])}" alt="${signatory['name']}">
                    <h4 class="certificates_sign-name">${signatory['name']}</h4>
                    <span class="certificates_sign-role">${signatory['title']}</span>
                </div>
                % endfor
            % endif
        </div>
        <div class="certificates_id">
            ${certificate_id_number_title}: ${certificate_id_number}
        </div>

    </div>
</main>
