// LMS - assets - fonts
// ====================

// No subsetting.

@include font-face('Open Sans', '../fonts/OpenSans/OpenSans-Light-webfont', 300);
//@include font-face('Open Sans', '../fonts/OpenSans/OpenSans-LightItalic-webfont', 300, italic);
//@include font-face('Open Sans', '../fonts/OpenSans/OpenSans-Regular-webfont', 400);
//@include font-face('Open Sans', '../fonts/OpenSans/OpenSans-Italic-webfont', 400, italic);
//@include font-face('Open Sans', '../fonts/OpenSans/OpenSans-Semibold-webfont', 600);
//@include font-face('Open Sans', '../fonts/OpenSans/OpenSans-SemiboldItalic-webfont', 600, italic);
//@include font-face('Open Sans', '../fonts/OpenSans/OpenSans-Bold-webfont', 700);
//@include font-face('Open Sans', '../fonts/OpenSans/OpenSans-BoldItalic-webfont', 700, italic);
//
//@include font-face('FoundersGroteskXCond-Med', '../fonts/Founders/FoundersGroteskXCond-Med');
//@include font-face('FoundersGroteskXCond-Bold', '../fonts/Founders/FoundersGroteskXCond-Bold');
//@include font-face('FoundersGroteskXCond', '../fonts/Founders/FoundersGroteskXCond-Reg');
//@include font-face('FoundersGroteskXCond-Lt', '../fonts/Founders/FoundersGroteskXCond-Lt');
@include font-face('FoundersGroteskXCond-SmBd', '../fonts/Founders/FoundersGroteskXCond-SmBd');
//@include font-face('Helvetica', '../fonts/Helvetica/Helvetica');
