<%!
  import json
  from django.utils.translation import ugettext as _
  from microsite_configuration import microsite
  from openedx.core.lib.js_utils import escape_json_dumps
%>
<%inherit file="../main.html" />
<%
  course_discovery_enabled = settings.FEATURES.get('ENABLE_COURSE_DISCOVERY')
%>

<%namespace name='static' file='../static_content.html'/>

% if course_discovery_enabled:
<%block name="header_extras">
  % for template_name in ["course_card", "filter_bar", "filter", "facet", "facet_option"]:
  <script type="text/template" id="${template_name}-tpl">
      <%static:include path="discovery/${template_name}.underscore" />
  </script>
  % endfor
  <%static:require_module module_name="js/discovery/discovery_factory" class_name="DiscoveryFactory">
    DiscoveryFactory(
      ${ escape_json_dumps(course_discovery_meanings) | n },
      getParameterByName('search_query')
    );
  </%static:require_module>
</%block>
% endif

<%block name="pagetitle">${_("Courses")}</%block>

<style>
.appliedx-custom-search-tags span:hover {
    color: #00a9dC;
}

.appliedx-custom-search-tags span {
    float: left;
    padding: 0px;
    list-style-type: none;
    color: #333;
    border-radius: 1px;
    font-size: 12px;
    margin: 1px 5px;
    font-family: trebuchet MS;
    white-space: nowrap;
    overflow: hidden;
    max-width: 48%;
    text-overflow: ellipsis;
}

.appliedx-custom-search-tags {
    height: 60px;
    padding: 4px 15px;
    border-top: dotted 1px #ccc;
    padding-top: 10px;
    background: #f1f1f1;
    /* linear-gradient(to top,#b8bac6 0%,#dbdce2 21%,#f1f1f1 49%,#dddfe3 80%,#f5f6f6 100%);*/
    margin-top: -15px;
    margin-bottom: 5px;
}

.facet-option{ cursor:pointer;}
/*.search-facets-lists{ display:none;}
.courses-listing{ display:none; }
#discovery-message{ display:none; }*/
.verified-label{
    background-color: rgba(0,88,0,0.6);
    height: 15px;
    color: white;
    padding: 3px 3px 3px 6px;
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: solid 1px #090;
    position: absolute;
    bottom: -0px;
    width: 273px;
}
.verified-label span{
    color: white;
    text-shadow: 1px 1px rgb(116,232,0);
    font-family: "Wingdings 2";
    font-size: 41px;
    z-index: 1;
    float: left;
}

.cover-image{position:relative;height:148px !important;}

.verified-button{
    padding: 6px 11px;
    font-size: 13px;
    cursor: pointer;
    border: 2px solid #256a97;
    background-color: #0078b0;
    margin: 3px;
    color: white;
    font-family: Segoe UI;
}
.header-facet {
    text-transform: capitalize !important;
}
.verified-button:hover{ background: #009ee7;}
.courses-listing-item{ clear: none !important;}
.search-facets,.cover-image,.learn-more{z-index:9 !important;} 
#filter-tag-cloud{
    color: #3399cc;
    font-family: Trebuchet MS;
    border: solid 1px #ccc;
    width: 261px;
    padding: 8px;
    float: left;
    box-shadow: 0px 2px 10px 3px #ccc;
    position: absolute;
    background: white;
    margin-top: 15px;
}
.course-title {
    font-size:16px;
}

.course-name {
    margin-botton: 5px;
}

.course-date{
    float: left;
    position: absolute;
    background: #9dd169;
    padding: 5px 10px;
    color: white !important;
    font-size: 14px;
    margin: -2px 0px 0px 10px;
    border-radius: 3px 0px 3px 3px;
    box-shadow: 2px 2px 5px #ccc; 
    padding: 2px 15px;
    position: absolute;
    top: 155px;
    right: -3px;
    z-index: 9;
    padding: 2px 15px;
    color: white;
    text-shadow: 1px 1px#ccc;
}
</style>

<section class="find-courses">
  <section class="courses-container">
    % if course_discovery_enabled:
    <div id="discovery-form" role="search" aria-label="course" class="wrapper-search-context">
      <div id="discovery-message" class="search-status-label"></div>
      <form class="wrapper-search-input">
        <label for="discovery-input" class="sr">${_('Search for a course')}</label>
        <input id="discovery-input" class="discovery-input" placeholder="${_('Search for a course')}" type="text"/>
        <button type="submit" class="button postfix discovery-submit" aria-label="${_('Search')}">
          <i class="icon fa fa-search" aria-hidden="true"></i>
          <div aria-live="polite" aria-relevant="all">
            <div id="loading-indicator" class="loading-spinner hidden">
              <i class="icon fa fa-spinner fa-spin"></i>
              <span class="sr">${_('Loading')}</span>
            </div>
          </div>
        </button>
      </form>
    </div>

    <div id="filter-bar" class="filters hide-phone is-collapsed">
    </div>
    % endif

    <div class="courses${'' if course_discovery_enabled else ' no-course-discovery'}" role="region" aria-label="${_('List of Courses')}">
      <ul class="courses-listing">
        %for course in courses:
        <li class="courses-listing-item">
          <%include file="../course.html" args="course=course" />
        </li>
        %endfor
      </ul>
      <script type="text/javascript">
      $(document).ready(function(){
        var len=$(".courses-listing-item").length;
        for(i=0;i<len;i++){
          for(j=0;j<i;j++){
            if($("a", $($(".courses-listing-item")[i])).first().attr("href").split("/")[4] <= $("a", $($(".courses-listing-item")[j])).first().attr("href").split("/")[4])
              $($(".courses-listing-item")[i]).insertBefore($(".courses-listing-item")[j])
          }
        }
      });
      </script>
      <script type="text/javascript">
        var filters = {};
        var filterList = {};
        var courseCardCount = 20;
	$(document).ready(function(){
                GenerateInitialTagCloud();
		setTimeout(organizeFilters, 1000);
                setTimeout(renderTags, 1000);
		$(document).on("scroll", function(){
			if(courseCardCount != $(".courses-listing-item").length){
				courseCardCount = $(".courses-listing-item").length;
				renderTags()
			}
		});
	});
        var GenerateInitialTagCloud = function(){
                $.ajax({
                        url: "/get_search_tags",
                        success: function(result){
                                renderTagCloud(result.keys);
                        },
                        error: function(result){
                                renderTagCloud(result.keys);
                        }
                });
        }
        var renderTagCloud = function(tagList){
                var cloudHTML = ""
                $("#filter-tag-cloud span").remove()
                for(tag in tagList){
                        if(parseInt(tagList[tag])) cloudHTML += "<span style='font-size:" + (9 + parseInt(tagList[tag]) * 2) + "px'>" + tag + "</span>";
                }
                $("#filter-tag-cloud").append(cloudHTML)
                $("#filter-tag-cloud span").click(function(e){
                        filterByTag({"type":"tags", "value":$(e.target).text()})
                });
        }
	filtersInOrder = ["verified", "level", "stream", "program", "topics", "subtopics"];
	var appliedFilters = [];


	organizeFilters = function(){
		$(".search-facets-lists h3").hide();
		$(".search-facets-lists ul").hide();
		$(".search-facets-lists .toggle").hide();
		setVerified();
		$(filtersInOrder).each(function(){
			var currentHeader = $(".search-facets-lists h3:contains('" + this + "')");
			if(currentHeader.length > 0){
				for(i=0;i<currentHeader.length; i++){
					if(currentHeader[i].innerHTML.trim() == this){
						currentHeader = currentHeader[i];
						break;
					}
				}
			}
			var currentFilter = $(currentHeader).next();
			var currentMore = $(currentFilter).next();
			$(".search-facets-lists").append(currentHeader).append(currentFilter);
			$(currentHeader).show();
			$(currentFilter).show();
			if($(currentMore).hasClass("toggle")) {
				$(".search-facets-lists").append(currentMore);
				$(currentMore).show();
			}
		});
	}
	$(document).on("click", "button[data-facet]", function(e){
        	if($(e.currentTarget).attr("data-type") == "search_query"){
                	collectAppliedFacets ();
               	}
                onFilterApplied();
	});

	$(".discovery-submit").click(function(e){
		collectAppliedFacets();
		onFilterApplied();
	});

	onFilterApplied = function(){	
		setTimeout(function(){
			applyPreviousFacets();
			setTimeout(function(){
				renderTagCloud(renderTags());
				organizeFilters();
				$("#clear-all-filters").click(function(){ 
					onFilterApplied();
				});
				$("button[data-facet]").click(function(e){
					onFilterApplied();
					console.log("clicked");
				});
				$("button[data-type]").click(function(e){
					if($(e.currentTarget).attr("data-type") == "search_query"){
						collectAppliedFacets ();
					}			
					onFilterApplied();
				});
			}, 1000);
		}, 1000);
	}

	filterByTag = function(param){
		$(".discovery-input").val(param.value);
		$(".discovery-submit").click()
	}

	collectAppliedFacets = function(){
		$(".active-filter button").each(function(){	
			appliedFilters.push({"name":$(this).attr("data-type"), "value":$(this).attr("data-value")});
		});
	}

	applyPreviousFacets = function(){
		$(appliedFilters).each(function(){
			$("*[data-value='" + this.value + "']", $("*[data-facet='" + this.name + "']")).click();
		});
		appliedFilters = [];
	}

	renderTags = function(){debugger;
		var tagStore = {};
		$(".appliedx-custom-search-tags").each(function(){
			var course_item = $(this);
			tags = JSON.parse($(this).attr("data-tags")).tags;
			searchTagMarkup = "";
			for(tag in tags){
				if(tags[tag].trim() != ""){
					if(tagStore[tags[tag]] == undefined) tagStore[tags[tag]] = 0;
					tagStore[tags[tag]]++;
					searchTagMarkup += "<span class='appliedx-custom-tag' data-tag-propertyname='" + tag + "' title='" + tags[tag] + "'>" + tags[tag] + "</span>";
					$(this).closest(".courses-listing-item").attr("data-" + tag, tags[tag]);
				}
			}
			$(this).html(searchTagMarkup);
		});
		$(".appliedx-custom-tag").click(function(e){
			e.preventDefault();
			filterByTag({"type":"tags", "value":$(e.target).text()})
		});
		return tagStore;
	}

	setVerified = function(){
		$("button[data-facet='verified']").each(function(){debugger;
			if($(this).attr("data-value") != "true")
				$(this).parent().hide();
			else{
				$(this).html($(this).html().replace("true", "Show only verified"));
				$(this).attr("data-text", "Show only verified");
			}
		});
	}
      </script>
    </div>


    % if course_discovery_enabled:
    <aside aria-label="${_('Refine Your Search')}" class="search-facets phone-menu">
      <h2 class="header-search-facets">${_('Refine Your Search')}</h2>
      <section class="search-facets-lists">
      </section>
      <div id="filter-tag-cloud">
        <h3 class="" style="    padding: 11px 5px 25px 0px;    text-transform: Capitalize;    font-family: Trebuchet MS;    margin: 0px;    color: black;">Keywords</h3>
        <style>
        #filter-tag-cloud span{padding:3px; white-space:nowrap; cursor:pointer;float:left}
        #filter-tag-cloud span:hover{color:white; background:#3399cc}
        </style>
      </div>
    </aside>
    % endif

  </section>
</section>
