<%!
  import json
  from django.utils.translation import ugettext as _
  from microsite_configuration import microsite
  from openedx.core.lib.js_utils import escape_json_dumps
%>
<%inherit file="../main.html" />
<%
  course_discovery_enabled = settings.FEATURES.get('ENABLE_COURSE_DISCOVERY')
%>

<%namespace name='static' file='../static_content.html'/>

% if course_discovery_enabled:
<%block name="header_extras">
  % for template_name in ["course_card", "filter_bar", "filter", "facet", "facet_option"]:
  <script type="text/template" id="${template_name}-tpl">
      <%static:include path="discovery/${template_name}.underscore" />
  </script>
  % endfor
  <%static:require_module module_name="js/discovery/discovery_factory" class_name="DiscoveryFactory">
    DiscoveryFactory(
      ${ escape_json_dumps(course_discovery_meanings) | n },
      getParameterByName('search_query')
    );
  </%static:require_module>
</%block>
% endif

<%block name="pagetitle">${_("Courses")}</%block>

   <style>
.appliedx-custom-search-tags span {
    float: left;
    padding: 5px 11px !important;
    list-style-type: none;
    color: white;
    border-radius: 1px;
    font-size: 12px;
    background-color: #aaa;
    margin: 2px;
    box-shadow: 2px 2px 3px #ccc;
    border-radius: 3px;
}
.appliedx-custom-search-tags span:hover {
    color: greenyellow;
    background-color: #555;
}
.appliedx-custom-search-tags {
    height: 50px;
    margin-top: -55px;
    margin-bottom: 5px;
    padding: 5px;
}
.facet-option{ cursor:pointer;}
.search-facets-lists{ display:none;}
.courses-listing{ display:none; }
#discovery-message{ display:none; }
.verified-label{
    background-color: rgba(0,88,0,0.6);
    height: 15px;
    color: white;
    padding: 3px 3px 3px 6px;
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: solid 1px #090;
    position: absolute;
    bottom: -0px;
    width: 273px;
}
.verified-label span{
    color: white;
    text-shadow: 1px 1px rgb(116,232,0);
    font-family: "Wingdings 2";
    font-size: 41px;
    z-index: 1;
    float: left;
}
.cover-image{position:relative;height:148px !important;}
.verified-button{
    padding: 6px 11px;
    font-size: 13px;
    cursor: pointer;
    border: 2px solid #256a97;
    background-color: #0078b0;
    margin: 3px;
    color: white;
    font-family: Segoe UI;
}
.header-facet {
    text-transform: capitalize !important;
}
.verified-button:hover{ background: #009ee7;}
.courses-listing-item{ clear: none !important;}
.search-facets,.cover-image,.learn-more{z-index:9 !important;} 
#filter-tag-cloud{
    color: #3399cc;
    font-family: Trebuchet MS;
    border: solid 1px #ccc;
    width: 261px;
    padding: 8px;
    float: left;
    box-shadow: 0px 2px 10px 3px #ccc;
    position: absolute;
    background: white;
    margin-top: 15px;
}
</style>

<section class="find-courses">
  <section class="courses-container">
    % if course_discovery_enabled:
    <div id="discovery-form" role="search" aria-label="course" class="wrapper-search-context">
      <div id="discovery-message" class="search-status-label"></div>
      <form class="wrapper-search-input">
        <label for="discovery-input" class="sr">${_('Search for a course')}</label>
        <input id="discovery-input" class="discovery-input" placeholder="${_('Search for a course')}" type="text"/>
        <button type="submit" class="button postfix discovery-submit" aria-label="${_('Search')}">
          <i class="icon fa fa-search" aria-hidden="true"></i>
          <div aria-live="polite" aria-relevant="all">
            <div id="loading-indicator" class="loading-spinner hidden">
              <i class="icon fa fa-spinner fa-spin"></i>
              <span class="sr">${_('Loading')}</span>
            </div>
          </div>
        </button>
      </form>
    </div>

    <div id="filter-bar" class="filters hide-phone is-collapsed">
    </div>
    % endif

    <div class="courses${'' if course_discovery_enabled else ' no-course-discovery'}" role="region" aria-label="${_('List of Courses')}">
      <ul class="courses-listing">
        %for course in courses:
        <li class="courses-listing-item">
          <%include file="../course.html" args="course=course" />
        </li>
        %endfor
      </ul>
      <script type="text/javascript">
      $(document).ready(function(){
        var len=$(".courses-listing-item").length;
        for(i=0;i<len;i++){
          for(j=0;j<i;j++){
            if($("a", $($(".courses-listing-item")[i])).first().attr("href").split("/")[4] <= $("a", $($(".courses-listing-item")[j])).first().attr("href").split("/")[4])
              $($(".courses-listing-item")[i]).insertBefore($(".courses-listing-item")[j])
          }
        }
      });
      </script>
      <script type="text/javascript">
        var filters = {};
        var filterList = {}
        $(document).ready(function(){
                listAll = function(){$(".discovery-submit").length?$(".discovery-submit").click():setTimeout(listAll, 300);}
                GenerateTagCloud()
                setTimeout(listAll, 300);
                var len=$(".courses-listing-item").length;
                for(i=0;i<len;i++){
                        for(j=0;j<i;j++){
                                if($("a", $($(".courses-listing-item")[i])).first().attr("href").split("/")[4] <= $("a", $($(".courses-listing-item")[j])).first().attr("href").split("/")[4])
                                        $($(".courses-listing-item")[i]).insertBefore($(".courses-listing-item")[j])
                        }
                }
                setInterval(function(){
                        $(".appliedx-custom-search-tags").each(function(){
                                var searchTagMarkup = "";
                                var courseCardTags = {};
                                try{
                                        courseCardTags = JSON.parse($(this).attr("href"));
                                }
                                catch(err){}
                                if($("span", $(this)).length > 0) return;
                                for(var tag in courseCardTags){
                                        if(tag == "verified"){
                                                if( courseCardTags[tag]){
                                                        $(".cover-image", $(this).closest(".courses-listing-item")).append("<div class='verified-label'>Verified<span>P</span></div>");
                                                        $(this).closest(".courses-listing-item").attr("data-"+tag, "Verified");
                                                }
                                        }
                                        else if (tag == "tags"){
                                                freetags = courseCardTags[tag];
                                                $(this).closest(".courses-listing-item").attr("data-" + tag, JSON.stringify(courseCardTags[tag]));
                                        }
                                        else if (tag == "topics"){
                                                console.log(courseCardTags[tag])
                                                topics = courseCardTags[tag].split(",");
                                                for(topic in topics){
                                                        searchTagMarkup += "<span class='appliedx-custom-tag' data-tag-propertyname='" + tag + "'>"+ topics[topic] +"</span>";
                                                }
                                                $(this).closest(".courses-listing-item").attr("data-" + tag, courseCardTags[tag]);
                                        }
                                        else {
                                                if(courseCardTags[tag].trim() != ""){
                                                        searchTagMarkup += "<span class='appliedx-custom-tag' data-tag-propertyname='" + tag + "'>"+ courseCardTags[tag] +"</span>";
                                                        $(this).closest(".courses-listing-item").attr("data-"+tag, courseCardTags[tag]);
                                                }
                                        }
                                }
                                $(this).html(searchTagMarkup);
                        });
                }, 500);
                $(".discovery-submit").click(function(){
                        filters = {}
                        filterList = {}
                        $(".search-facets-lists").hide();
                        $(".courses-listing").hide();
                        $("#discovery-message").hide();
                        setTimeout(function(){
                                var filterList = {}
                                hasFilterItem = function(list, item, valueIdentifier){
                                        for(var listItem in list){
                                                if(listItem == item)
                                                        return true;
                                        }
                                        return false;
                                }
                                $(".courses-listing-item").attr("data-visibility", "visible");
                                var cardCount = createFilters();
                                $(".search-facets-lists").show();
                                $(".courses-listing").show();
                                if(cardCount && !($("#discovery-message").html().indexOf("Viewing"))){
                                        $("#discovery-message").html("Viewing " + cardCount + " courses");
                                }
                                $("#discovery-message").show();
                        }, 1000);
                });
                $(document).on("click", ".course a",  function(e){
                        if($(e.target).hasClass("appliedx-custom-tag")){
                                e.preventDefault();
                                filterByTag({"type":$(e.target).attr("data-tag-propertyname"), "value":$(e.target).text()})
                                //$(".discovery-input").val($(e.target).text());
                                //$(".discovery-submit").click();
                                //$(".discovery-input").val($(e.target).attr("data-tag-propertyname") + ":" + $(e.target).text());
                        }
                });
                $(document).on("click", "#clear-all-filters", function(e){
                        //console.log("dd");
                        $(".discovery-submit").click();
                });
        });
        var filterByTag = function(tag){
                $(".discovery-input").val(tag.value.replace("-", " "));
                $(".discovery-submit").click();
                $(".discovery-input").val(tag.type + ":" + tag.value);
        }
        var rearrangeCourseCards = function(){
                var index = 0;
                $("li[data-visibility='visible']").each(function(){
                        if(index % 3 == 2) $(this).css("margin-right", "0px");
                        else $(this).css("margin-right", "2.35765%");
                        index++;
                });
        }
        var createFilters = function(){
                var cardCount = 0;
                filterList = {};
                /*$(".appliedx-custom-search-tags", $(".courses-listing-item[data-visibility]")).each(function(){
                        var currentFilterAttributes = {};
                        try{
                                currentFilterAttributes = JSON.parse($(this).attr("href"));
                        }
                        catch(err){}
                        var currentFilterParam = $(".discovery-input").val().split(":");
                        if(currentFilterAttributes[currentFilterParam[0]] != currentFilterParam[1]){
                                $(this).closest(".courses-listing-item").hide();
                                return;
                        }
                        cardCount++;
                        for(var attribute in currentFilterAttributes){
                                if(attribute == "verified" || currentFilterAttributes[attribute].toString().trim() == ""){
                                }
                                else{
                                        trimmedCurrentFilterAttribute = currentFilterAttributes[attribute].toString().trim()
                                        if(filterList[attribute] == undefined){
                                                filterList[attribute] = {}
                                                filterList[attribute][trimmedCurrentFilterAttribute] = 1;
                                        }
                                        else if(filterList[attribute][trimmedCurrentFilterAttribute] == undefined) {
                                                filterList[attribute][trimmedCurrentFilterAttribute] = 1;
                                        }
                                        else filterList[attribute][trimmedCurrentFilterAttribute]++;
                                }
                        }
                });*/
                $(".appliedx-custom-search-tags", $(".courses-listing-item[data-visibility]")).each(function(){
                        var currentFilterAttributes = {};
                        try{
                                currentFilterAttributes = JSON.parse($(this).attr("href"));
                        }
                        catch(err){}
                        var currentFilterParam = $(".discovery-input").val().split(":");
                        debugger;
                        if($(".discovery-input").val().indexOf(":") != -1){
                                if(currentFilterParam[0] != "" && (currentFilterAttributes[currentFilterParam[0]] == undefined || (currentFilterAttributes[currentFilterParam[0]] != undefined && currentFilterAttributes[currentFilterParam[0]].indexOf(currentFilterParam[1]) == -1))){
                                        $(this).closest(".courses-listing-item").hide();
                                        return;
                                }
                        }
                        cardCount++;
                        for(var attribute in currentFilterAttributes){
                                if(attribute == "verified" || currentFilterAttributes[attribute].toString().trim() == ""){
                                }
                                else{
                                        filterValues = currentFilterAttributes[attribute].toString().trim().split(",")
                                        //console.log(filterValues)
                                        for(filtervalue in filterValues){
                                                trimmedCurrentFilterAttribute = filterValues[filtervalue].toString().trim()
                                                if(filterList[attribute] == undefined){
                                                        filterList[attribute] = {}
                                                        filterList[attribute][trimmedCurrentFilterAttribute] = 1;
                                                }
                                                else if(filterList[attribute][trimmedCurrentFilterAttribute] == undefined) {
                                                        filterList[attribute][trimmedCurrentFilterAttribute] = 1;
                                                }
                                                else filterList[attribute][trimmedCurrentFilterAttribute]++;
                                        }
                                }
                        }
                });
                var filterHTML = "<h3 class='header-facet'>Verified</h3><ul class='facet-list collapse'><li><xbutton class='facet-option discovery-button' data-value='Verified' data-facet='verified'>Show Only Verified</xbutton></li></ul>";
                for(var filter in filterList){
                        if(filter != "tags"){
                                filterHTML += "<h3 class='header-facet'>" + filter + "</h3>";
                                filterHTML += "<ul data-facet='" + filter + "' class='facet-list collapse'><li>";
                                for(var filterItem in filterList[filter]){
                                        filterHTML += "<xbutton data-facet='" + filter + "' data-value='" + filterItem + "'"
                                        filterHTML += " data-text='" + filterItem + "' class='facet-option discovery-button'>"
                                        filterHTML += filterItem + "<span class='count'>" +   filterList[filter][filterItem] + "</span></xbutton>";
                                }
                                filterHTML += "</li>  </ul>";
                        }
                }
                $(".search-facets-lists").html(filterHTML);
                $("*[data-value]").on("click", function(e){
                        if($(this).attr("data-type") == "search_query"){
                                $(".discovery-input").val("")
                                $(".discovery-submit").click()
                                return;
                        }
                        var searchKey = $(e.currentTarget).attr("data-facet");
                        var searchVal = $(e.currentTarget).attr("data-value");
                        filters[searchKey] = searchVal;
                        applyFilters();
                });
                $(".verified-button").click(function(){
                        if($(".verified-button").hasClass("clicked")){
                                $(".verified-button").removeClass("clicked");
                                $(".verified-button").html("Show All");
                                $(".verified-label").each(function(){
                                        $(this).closest(".courses-listing-item").css("clear","none");
                                });
                                delete filters["verified"];
                        }
                        else{
                                $(".verified-button").addClass("clicked")
                                $(".verified-button").html("Show Only Verified");
                        }
                });
                return cardCount;
        }
        var GenerateTagCloud = function(){
                $.ajax({
                        url: "/get_search_tags",
                        success: function(result){
                                renderTagCloud(result.keys);
                        },
                        error: function(result){
                                renderTagCloud(result.keys);
                        }
                });
        }
        var renderTagCloud = function(tagList){
                var cloudHTML = ""
                $("#filter-tag-cloud span").remove()
                for(tag in tagList){
                        if(parseInt(tagList[tag])) cloudHTML += "<span style='font-size:" + (9 + parseInt(tagList[tag]) * 2) + "px'>" + tag + "</span>";
                }
                $("#filter-tag-cloud").append(cloudHTML)
                $("#filter-tag-cloud span").click(function(e){
                        filterByTag({"type":"tags", "value":$(e.target).text()})
                });
        }
        var applyFilters = function(){
                $('.filter-item-custom').remove();
                function createFilterBarItem(key, value){
                        $("#filter-bar").removeClass("is-collapsed");
                        $("#filter-bar ul").append("<li class='filter-item-custom'> <button class='facet-option discovery-button'><span class='filter-bar-item'>" + value + "</span><i aria-hidden='true' class='fa fa-times' data-filter='" + key + "'></i></button></li>")
                }
                for(filter in filters){
                        createFilterBarItem(filter, filters[filter])
                }
                $(".filter-item-custom").click(function(e){
                        var target = $(e.target);
                        if($(target).hasClass("fa-times")) {
                                delete filters[$(target).attr("data-filter")]
                                $(e.currentTarget).remove();
                                applyFilters();
                        }
                });
                $(".courses-listing-item").show();
                $(".courses-listing-item").attr("data-visibility", "visible");
                $(".courses-listing-item").each(function(){
                        var currentCard = $(this);
                        for(filter in filters){
                                var topicNotPresent = true;
                                if((filter == "tags") && $(this).attr("data-"+filter) != undefined){
                                        if(JSON.parse($(this).attr("data-"+filter)).indexOf(filters[filter]) != -1) topicNotPresent = false;
                                }
                                if(topicNotPresent && ($(this).attr("data-"+filter) == undefined || $(this).attr("data-"+filter).toString().trim() != filters[filter])){
                                       $(currentCard).hide();
                                       $(currentCard).removeAttr("data-visibility");
                                }
                       }
               });
               cardCount = $(".courses-listing-item[data-visibility]").length;
               if(cardCount){
                       $("#discovery-message").html("Viewing " + cardCount + " courses");
               }
               createFilters();
               rearrangeCourseCards()
        }
      </script>
    </div>


    % if course_discovery_enabled:
    <aside aria-label="${_('Refine Your Search')}" class="search-facets phone-menu">
      <h2 class="header-search-facets">${_('Refine Your Search')}</h2>
      <section class="search-facets-lists">
      </section>
      <div id="filter-tag-cloud">
        <h3 class="" style="    padding: 11px 5px 25px 0px;    text-transform: Capitalize;    font-family: Trebuchet MS;    margin: 0px;    color: black;">Keywords</h3>
        <style>
        #filter-tag-cloud span{padding:3px; white-space:nowrap; cursor:pointer;float:left}
        #filter-tag-cloud span:hover{color:white; background:#3399cc}
        </style>
      </div>
    </aside>
    % endif

  </section>
</section>
