
body {
}

/*Suraj*/
.fbShareAlign{
    padding:6px 10px 3px 5px !important;
}
.fb-share-button{
    /*padding:6px 10px 3px 5px !important;*/
    padding:6px 16px 3px 5px !important;
    background:#3b5998 !important;
}
.multiselect, .multiselect-container {
    width: 99.5%!important;
}
#Cart{
    background-color:black !important;
}
.icon-minus-circled{
    color:red !important;
    margin-left:22px;
}
.multiselect-container {
    overflow: auto;
    height: 400%;
}

.voucherCodePadding {
    padding: 0px 5px;
}

.learnDtBtn {
    padding: 7px 9px 7px 8px !important;
}
 .learnDtBtn:hover, .learnDtBtn:focus {
        color: white !important;
}

.voucherStatus {
    margin-left: -10% !important;
}

.successDiv {
    background-color: aquamarine !important;
}
/***********Surbhi*************/

/*Index view styling*/
.jqwidth{
        width:1000px !important;
    }
    .pagecs{
        padding:0px 1px 1px !important;
    }

/**/

.partnerlogo-home {
    width: 100%;
    height: 100%;
}

.imgOrderDetails {
    width: 50%;
    height: 30%;
}

.joinUs {
    margin-top: -5%;
}

.leadMargin {
    margin-bottom: 0px !important;
}

.marginbottom {
    padding-bottom: 15px;
}

.aligntextcenter {
    text-align: center;
}

 .allowmargin {
    margin-bottom: 25px !important;
}

.signInbtn {
    background-color: black !important;
 }


@media (max-width: 767px){

}
.signInbtn:hover {
   color:  #30d9a4 !important;
 }

.signInbtn:focus {
    color:  #30d9a4 !important;
 }

.btnRefund {
  margin-bottom: 5px;
  border: none;
  margin-top: 5px;
  background: #1dd7b2;
  color: #fff;
  font-size: 11px;
  padding: 6px 7px 3px 7px;
  text-decoration: none;
  transition: background .5s ease;
  -moz-transition: background .5s ease;
  -webkit-transition: background .5s ease;
  -o-transition: background .5s ease;
  display: inline-block;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  cursor: pointer;
  outline: none;
  font-weight: 700;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
 }


.btnEdit {
  margin-bottom: 5px;
  border: none;
  margin-top: 5px;
  background: #1dd7b2;
  color: #fff;
  font-size: 11px;
  padding: 6px 16px 3px 16px;
  text-decoration: none;
  transition: background .5s ease;
  -moz-transition: background .5s ease;
  -webkit-transition: background .5s ease;
  -o-transition: background .5s ease;
  display: inline-block;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  cursor: pointer;
  outline: none;
  font-weight: 700;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
 }

.btnDelete {
      margin-bottom: 5px;
  border: none;
  margin-top: 5px;
    background: #F66;
  color: #fff;
  font-size: 11px;
  padding: 6px 6px 3px 6px;
  text-decoration: none;
  transition: background .5s ease;
  -moz-transition: background .5s ease;
  -webkit-transition: background .5s ease;
  -o-transition: background .5s ease;
  display: inline-block;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  cursor: pointer;
  outline: none;
  font-weight: 700;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
}

.signinbtn {
     width: 20% !important;
    height: 100% !important;
    text-align: center;
}

/**************PartialLogin***************/
.socialiconsplace{
    /*margin-left: 15%;*/
    margin-left: 27%;
}

/*******MainHeader************/
.mainheader{
height: 40px;}

.headerLogo{
    display:inline-flex;
}

/**************Login******************/
.loginLogo{
  margin-top: 5%; 
  margin-bottom: 5%;
}
 
.forgotpwd{
    margin-left: 1%;
}

.marginloginpwdTxt{
    margin-bottom:2% !important;
}

/********CreateCATC*******/
.firstDiv{
    display:inline-flex; 
    width:100%;
}

.secondDiv{
    width:50%;
}

.txtName{
    width: 50%; 
    padding-left: 1%;
}

.CATCsubmitButton{
    margin-top: 2%;
}
    .addbtn {
        background: #F66 !important;
        height: 32px;
    }

    /*********CertificationCreate***********/
    .txtAreaHeight {
        height: 125px !important;
    }

    .objectiveTxt{
        margin-top:-12px;
    }

    /**********CoupanCode-ActivateCoupan***********/
    .WarningMsg{
    list-style-type:circle;
    text-align:left
        }

    .testLogo{
        width:100%;
        height:80%;
    }

    .activateCoupan-rowblock{
        padding:5%;
        height:160px;
    }
    .activateCoupan-shortDesc{
    height:50px;
    }

    .activateCoupan-link-price-rate{
    margin-bottom:-20px;
    }

    .CoupanCode-CreateDivfirst{
        width:60%!important;
    }

    .CoupanCode-Createdrop-down{
        width:100%;
        height:30px;
    }

    .Label-ExistingUser{
        margin-left: -30px;
    }
.Li-importCSV {
    margin-top: 10px;
}
    .Label-importCSV{
     margin-left: -30px;      
    }

    .label-uploadEmail{
        margin-left: 40px;
    }

    .courseNameTxt{
        height:90px;
    }
    .popup-closebtn{
        margin-top:40px;
    }

    /*************Course-About***************/
    .courseBlock{
        padding-bottom: 10px;
    }

    .testLogo-about{
        width:100%;height:40%;
    }

    .longDescDiv{
        padding: 1%;
    }
        
    /**********Course-AboutCourse*************/
    .SampleCourseLink{
        color:#488dc6 !important;
    }

    .CourseName-block{
        padding: 0px 10px 0px 10px !important;
    }
    /************Course-AllCourse**************/
    .courseBlock{
        margin-top:-2%;
    }

    .shortdescription{
        height:40px !important;
    }

    .courseAvailability-dropdown{
        width:100%;height:30px;
    }

    .controlmargintop {
        margin-top: 6px;
                }

    .txtAreaHeight {
        height: 125px !important;
                }

                .chkalign {
                    margin-left: 5%;
                    margin-top: 3%;
                }

    .droptop {
        margin-top: 2.5%;
                }

    /**********Home-About***********/
    .firstrow{
        padding-bottom:50px;
    }

    .imgDiv{
        border:1px solid #eee;  border-radius:15px
    }

    .aboutimg{
        width:100%; padding-bottom:20px;
    }

    .about-headerBlock{
        padding:5px 15px 5px 15px;
    }

    .p-div{
        padding:20px;
    }

    /************Contact***********/
    .contact-message{
        height:200px;
    }

    /**********Home-Index*********/
    .search-textblock{
        display: block;
    }

    .course-startDate{
        padding:0 0 30px 0;
    }
    /************Partner-Create*************/
    .TextArea{
        height:125px !important;
    }

    .checkBox-partner{
        margin-top:2%;
    }

    .Partner-btn-div{
     text-align:center;
 }

    /**********Partner-Edit***********/
    .PartnerView-imgicon{
        width:10%;height:10%;
    }

    /*********ProductCOde-Create**********/

    .productCode-Create{
        margin-top: -13px;
    }

   .ProductCode-addbtn {
        background: #F66 !important;
        height: 32px;
    }
    
    
    /********ProductCode-Index******/
    .tablediv{
        padding-left:15px;padding-right:15px;
    }

    /*********Shared-StudentNavigation***********/
    .studentNav-FirstDiv{
        margin-left: -1%; margin-top: -12%;
    }

    /***********Shared-Subscribe************/
    .bgcolor-div {
        background-color:black; width:300px; margin-left:-5%; margin-top:5px; padding:20px 20px 20px 20px;
    }
    .subscribe-title{
        color:white;
    }

    .subscribe-newsletterBtn{
        padding-left:100px;
    }

    /*************Student-MyCourse**************/
    .ViewAllCourseBtn{
        padding-top: 1%;
    }

    /**********UserRegister-Profile************/
    .Profilepages-tabs{
    border-right: 1px solid #ddd;border-bottom: 1px solid #ddd;border-left: 1px solid #ddd;
    }

    .marginTxt{
    margin-bottom:1% !important;
}


    .btnFocus{}

    .btnFocus:hover{
        background-color: black !important;
        color: white !important;
    }

    .btnFocus:focus{
        background-color: black !important;
        color: white !important;
    }

    .btnsignUp{
          border: none;
  margin-top: 5px;
  background: #1dd7b2;
    color: #fff;
  font-size: 11px;
  padding: 6px 16px 3px 16px;
  text-decoration: none;
    display: inline-block;
      border-radius: 3px;
  cursor: pointer;
  outline: none;
  font-weight: 700;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
    }

     .btnsignUp:focus{
         color:black !important;
    }
     .btnsignUp:hover{
         color:black !important;
    }

     /*********Order-Index********/
     .linkdisabled{
   cursor:text;
}
/*****************Surbhi********************/
.allcoupansenablebtn{
        padding: 6px 7px 3px 7px !important;
}
.floatRight {
    float: right;
}

.floatLeft {
    float: left;
}

#autocomplete-ajax {
   /* max-width: 286px!important;*/
}

.margRight {
    margin-right: 3px;
}

.actCoupon,.fb-share-button {
    border: none;
  margin-top: 5px;
  background: #F66;
    color: #fff;
  font-size: 11px;
  padding: 6px 16px 3px 16px;
  text-decoration: none;
    display: inline-block;
      border-radius: 3px;
  cursor: pointer;
  outline: none;
  font-weight: 700;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
}

.btnSignin {
    /*background-color: #1dd7b2 !important;
    margin: 2px;
    color: white !important;
      text-decoration: none;*/
         border: none;
  margin-top: 5px;
  background: #000;
    color: #fff;
  font-size: 11px;
  padding: 6px 16px 3px 16px;
  text-decoration: none;
    display: inline-block;
      border-radius: 3px;
  cursor: pointer;
  outline: none;
  font-weight: 700;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
}

.btnRegister {
    height: 32px;
    border-radius: 3px;
  margin-left: 5px;
  margin-top: 5px;
    padding: 5px 16px 2px 16px !important;
    background: #1dd7b2;
    border: none;
  margin-top: 5px;
  color: #fff;
  font-size: 11px;
  text-decoration: none;
  transition: background .5s ease;
  -moz-transition: background .5s ease;
  -webkit-transition: background .5s ease;
  -o-transition: background .5s ease;
  display: inline-block;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  cursor: pointer;
  outline: none;
  font-weight: 700;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
    height: 32px !important;
  margin-left: 5px;
}

.actCoupontxt {
  color: #a0a0a0;
  /*font-family: 'Raleway', Arial, sans-serif;*/
    font-weight: 400;
    font-size: 11px;
  text-transform: uppercase;
    padding: 2.5px 2.5px 0px 2.5px;
    height: 28px;
}

.fbHeadBcolor {
  background-color: #edeff4;
  border-bottom: 1px solid #d8dfea;
  padding: 5px;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
    }

.fbUpdate {
    border: 1px solid;
}

.customRow {
    margin: -20px -104px 0px -105px !important;
}

.formGroupCustom {
    position: relative !important;
    margin-bottom: 5px !important;
    margin: 0 80px !important;
}

.formRegGroupCustom {
    position: relative !important;
    margin-bottom: 0px !important;
    margin: 0 -50px !important;
}

.formControlCustom {
    max-width: 437px !important;
}

.oauthBtn {
    padding-left: 3px;
  padding-right: 3px;
    width: 20% !important;
}

.oauthRow {
    margin-left: 13px !important;
    margin-right: 13px !important;
}

.popupLabel {
    margin-bottom: 2px !important;
  padding-top: 10px !important;
  background-color: black;
  color: white;
  padding-bottom: 5px !important;
}

.hrtagMargin {
    margin-top: 2px !important;
}

.poupClosebtn {
    float: right;
  margin-right: 0px;
}

.modalPopup {
    margin-top: 15%;
}

.txtCenter {
    text-align: center !important;
}

.btnSize {
    height: 30px !important;
}

/*added by Harsha*/
.textalignleft {
    text-align: left;
    }

.statusdrop {
    width: 50%;
    height: 30px;
    }

.formGroupCustom {
    margin-bottom: 5px !important;
}

.displayNone {
    display: none;
}

.iframeCustom {
   /*height:535px;width:355px!important;background:white;margin-top:20px;*/
    height: 620px;
    width: 240px !important;
  background: white;
  /*margin-top: -20px;
  margin-left:-22px;*/
  margin-top: -12%;
    margin-left: -15%;
}

.signUpBgColor {
    background: #0cbdaa url("https://www.millionlights.org/Content/img/BgImage-AjaxSearchBar.jpg") repeat 0 0;
    background-image: url("https://www.millionlights.org/Content/img/BgImage-AjaxSearchBar.jpg");
}
   
.whiteColor {
    color: white !important;
}

.lblUserName {
    color: black;
    padding: 0px 10px;
}

.colorRed {
    color: red;
}
   
.btnCreateCourse {
      border: none;
  margin-top: 5px;
  background: #1dd7b2;
  color: #fff;
  font-size: 11px;
  padding: 5px 16px 2px 16px;
  text-decoration: none;
  transition: background .5s ease;
  -moz-transition: background .5s ease;
  -webkit-transition: background .5s ease;
  -o-transition: background .5s ease;
  display: inline-block;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  cursor: pointer;
  outline: none;
  font-weight: 700;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
    height: 32px !important;
    margin-left: 5px;
}

.btnCancel {
  border: none;
  margin-top: 5px;
  background: #F66;
  color: #fff;
  font-size: 11px;
  padding: 7px 16px 2px 16px;
  text-decoration: none;
  transition: background .5s ease;
  -moz-transition: background .5s ease;
  -webkit-transition: background .5s ease;
  -o-transition: background .5s ease;
  display: inline-block;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  cursor: pointer;
  outline: none;
  font-weight: 700;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
    height: 32px !important;
    margin-left: 5px;
    margin-right: 5px;
}

.userregtxt {
    margin-bottom: 8px !important;
}

.userregdiv {
    margin-top: 6px !important;
}
/*DataTable CSS start*/
.table-header{
    background-color: #d9edf7; /* #307ecc;*/
    border-color: #bce8f1 !important;
  color: #31708f; /*#FFF;*/
  font-size: 14px;
  line-height: 38px;
  padding-left: 12px;
  margin-bottom: 1px;
}

.dataTables_wrapper :first-child.row {
  
  background-color: #f5f5f5 !important;/*#eff3f8 !important;
  padding-top: 4px !important;
  padding-bottom: 4px !important;*/
}

.dataTables_wrapper :last-child.row {
  border-top: 1px solid #DDD;
  padding-top: 6px;
  padding-bottom: 1px;
  background-color: #eff3f8;
  border-bottom: 1px solid #DDD;
}

.tableContent {
    padding-right: 30px !important;
}

.tableEntry {
    padding: 10px 0 0 5px !important;
}

.UserGridview_wrapper .row {
    margin: 0px !important;
}

.UserGridview_length label {
    padding: 10px 0 0 5px !important;
}

.dataTables_filter {
    text-align: right !important;
    margin: 5px 5px 0px !important;
}

#UserGridview_wrapper .row {
    margin: 0px !important;
}

.row .col-sm-12 {
    padding: 0px !important;
}

#UserGridview {
    margin-bottom: 0px !important;
}

.pagination {
  display: inline-block;
  padding-left: 0;
    margin: 0px 0 !important;
  border-radius: 4px;
}

.col-sm-7 .dataTables_paginate {
    text-align: right !important;
}

input.form-control, textarea.form-control {
    margin-bottom: 0px !important;
    height: 35px;
}

#CourseGridview_wrapper .row {
   
}

#CourseGridview {
    margin-bottom: 0px !important;
}
/*DataTable CSS End*/
.margLeft {
    margin-left: 360px;
}

.dataTables_length label select {
    margin-top: 8px !important;
    padding-top: 0px !important;
}

.btnDataTable {
border: none;
margin-top: 0px;
background: #1dd7b2;
color: #fff;
font-size: 11px;
text-decoration: none;
transition: background .5s ease;
-moz-transition: background .5s ease;
-webkit-transition: background .5s ease;
-o-transition: background .5s ease;
display: inline-block;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
cursor: pointer;
outline: none;
font-weight: 700;
text-transform: uppercase;
-webkit-font-smoothing: antialiased;
/* text-align: right; */
float: right;
/* width: 149px; */
padding: 0px 10px 0px 10px;
height: 32px;
margin: 3px 3px 0px 0px;
}

.lblTextAlign {
    text-align: left !important;
}

.btmMarTop {
    margin-top: 0px !important;
}

.btmMargleft {
    margin-left: 145px;
}

/*added by harsha*/
.profiletxtpadding {
    padding-bottom: 2% !important;
}

.proflebtndiv {
    margin-left: 40%;
    padding-top: 4%;
}

.cancelprofilebtn {
     background: #F66 !important;
        height: 32px;
          border: none;
  color: white;
  font-size: 13px;
  font-weight: 600;
  border-radius: 2px;
  width: 20%;
}

.deletbtn {
     background: #F66 !important;
}

.stdedudetailscancelbtn {
    width: 10%;
}

.mrgBottom {
    margin-bottom: 10px !important;
}

.btmCancelMargleft {
    margin-left: 42% !important;
}

.theadColor {
    background: none repeat scroll 0 0 #404040;
  color: #FFF;
  border-right: solid 1px #6a6a6a;
  height: 30px;
  padding: 2px 8px;
  vertical-align: middle;
  white-space: nowrap;
}

.removeChk {
    width: 70px;
  height: 30px;
  text-align: center;
  border-right: 1px solid #555;
}

.courseImg {
    width: 150px;
  text-align: left;
  border-right: 1px solid #555;
    padding-left: 10px !important;
}

.CoursDetails {
  width: 450px;
  text-align: left;
  border-right: 1px solid #555;
  padding-left: 10px;
}

.coursePrice {
     width: 100px;
  height: 30px;
  text-align: center;
  border-right: 1px solid #555;
  padding-left: 10px;
}

.chkRemove {
      vertical-align: 3px;
  height: 22px;
  width: 25px;
  margin-top: 20px;
}

.chkRemovetr {
    text-align: center;
  height: 60px;
}

.prceValueTD {
    text-align: center;
    margin:20px 25px 20px 0px !important; 
  padding-right: 10px;
    vertical-align:middle !important;
}

.courseVal {
      padding-left: 10px;
}

.orderCouponHead {
      width: 265px;
    padding-left: 10px !important;
}

.txtVoucherCode {
    height: 32px !important;
  margin-left: 15px;
}

.container body-content {
    margin-bottom: -62px !important;
}

#login_bg {
 /*   margin-top: -20px!important;*/
}
.btnExternal {
    border-radius: 5px;
    background: rgb(102, 102, 255);
  color: white;
  width: 40px;
  height: 30px;
  border: 1px solid;
  padding-right: 5px;
}

.btnLoginMarLeft {
    margin-left: 75px;
}

.regform-group {
  position: relative;
    margin-bottom: 10px !important;
}

.regForm {
    width: 44% !important;
    float: left !important;
    margin: 2%;
}

.regFormMargLeft {
    margin-left: 6% !important;
}

.regFormaction {
      margin-top: -6%;
}

.regFormAlign {
    margin-left: 25% !important;
}

.colorGreen {
    color: green;
}

.orderDetailsPageMarg {
    margin: 3% !important;
}

#success {
    height: 200px;
    font-weight: bolder;
}

#fail {
    width: 500px;
    background-color: aquamarine;
    color: red;
    font-weight: bolder;
}

/*Added  by harsha*/
.btnForword {
    background: #30d9a4 !important;
    border: none;
}
 
.regformPadding {
    padding: 3px 0px!important;
}

.successMag {
    width: 10% !important;
}

.succcessMargLeft {
      padding-left: 1%;
}

.regformPadding #ddlUserRole {
    border: 1px solid #ececec !important;
    border-radius: 0px !important;
    height: 35px !important;
}

.close {
    font-size: 25px !important;
    opacity: 1 !important;
}

.controlmargintop {
    margin-top: 10px !important;
}

.notifyMAarg {
    margin-top: 20px !important;
}

.selectCourse {
    background-color: white !important;
    border: 1px solid !important;
    text-align: left !important;
    width: 98%;
    height: 35px!important;
    margin-left: 1%;
   
}

.listStyleNone {
    list-style: none !important;
}

select .btn-group .multiselect {
    text-align: left !important;
    border: 1px !important;
}

.partnerUl {
    margin-bottom: 0px !important;
  margin-left: -24px;
  margin-right: 16px;
}

.btn-group .multiselect {
   text-align: left !important;
  border: 1px solid #d5d5d5!important;
  border-radius: 0px !important;
  background-color: white!important;
}

.selectSVC {
  margin-left: 15px;
  margin-top: 8px;
  text-align : center; 
}

.fileUp {
      margin-left: -24%;
}

/*Remove by harsha*/
/*li {
    list-style: none !important;
}*/

/*end*/


.importBtn {
     margin:1%;
}

li select {
    border: 1px solid #d5d5d5 !important;
}

.confirmLbl {
    margin:2%!important;
}
.instructorname {
margin: 40px 0px 0px 70px!important;
}
.benifitDdl {
   width : 100%;
  height: 35px;
  border-radius: 0 !important;
  color: black!important;
  background-color: #ffffff;
  border: 1px solid #d5d5d5;
  padding: 5px 4px 6px;
  font-size: 14px;
  font-family: inherit;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
}
.courseDdl {
  width: 98%!important;
  height: 35px!important;
  border-radius: 0 !important;
  color: #000 !important;
  background-color: #ffffff;
  border: 1px solid #d5d5d5!important;
  padding: 5px 4px 6px;
  font-size: 14px;
  font-family: inherit;
  box-shadow: none !important;
  transition-duration: 0.1s;
}
/*Added by harsha*/

#enrollbtn {
    position: fixed;
    bottom:-6px;
    /*top: 90%;*/
    /*margin-left: 65%;*/
    right:12%;
    z-index: 999;
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
}
#ratemebtn a {
    position: fixed;
     right:1%;
    z-index: 999;
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    top:30% !important;

        display: block;
        background: darkblue;
        /*background: #F66;*/
        /*width: 140%;*/
        /*padding: 20px 12px;*/
        color: #fff;
        font-family: Arial, sans-serif;
        font-size: 17px;
        font-weight: bold;
        text-decoration: none;
 }
 #enrollbtn a {
        display: block;
        background: #F66;
        width: 140%;
        /*padding: 20px 12px;*/
        color: #fff;
        font-family: Arial, sans-serif;
        font-size: 17px;
        font-weight: bold;
        text-decoration: none;
 }
 #enrollbtn a:hover {
            background: black;
}
.asignRdb {
      margin: 0px 10px 20px 0px!important;
}
.btnImport {
    margin-top:1%!important;
}
.assignCoupon {
    margin-left:-30px!important;
}
.listyleNone {
      list-style: none!important;
}
.fileUpload{
      width: 50%;
  margin-left: -14%;
}
lblMsg {
      color: red;
  margin-left: 6%;
}
.generatPopupBtn {
  text-align: center;
  margin-top: 5%;
}
.w100 {
    width:100%!important;
    height:35px!important;
}
/*added by harsha*/
.chksize{
    height: 40px;
  width: 3%;
}
.wrapTxt {
    word-wrap: break-word!important;
}


/*end*/

.couponWizardField {
    margin-left:49%!important;
}
.profile-pictures {
     padding: 4px;
  display: inline-block;
  max-width: 100%;
}

.profile-pictures1 {
     padding: 17px;
  display: inline-block;
  max-width: 100%;
}
.profImg {
      width: 120px!important;`
}
.multiselect .dropdown-toggle {
    background-color: white!important;
  border:1px solid #d5d5d5!important;
    margin-bottom: -10px!important;
}
 .open > .btn-default.dropdown-toggle {
  background-color: white !important;
  border: 1px solid #d5d5d5;
}
.multiselect-selected-text {
    color:#858585!important;
    font-size:13px!important;
    text-shadow: none;
}
.errorMsg {
    margin-left:4%!important;
}
.couponCkBox {
      margin: 0px 5px 0px 0px!important;
}
.findbtnAlign {
      text-align: center;
}
.couponMargLeft {
    margin-left:-5%!important;
}
.rdbcouponShow {
    margin-bottom:-2px!important;
}
.UDashboardBody {
           padding: 0 4% 0;
    background-color: aliceblue;
}
.padding0px {
    padding:0px!important;
}
.mlLogo {
        height: 70px;
    background-color: white;
}
.UserProImg {
        background-color: #1cbbb4;
    height: 200px;
}
.DashBContents{
	font-family: "fontello";
	 content: "\e874";
    font-size: 24px;
	width:24px;
	height:24px;
    color: #111;
	cursor:pointer;
}
.dashBLbl {
    height: 101px;
    background-color: rgba(62, 73, 84, 0.96);
    color: white;
    padding-top: 4%;
}
.imgMlmarg {
        width: 80%;
    padding: 6%;
}
.imgPrfMarg {
       width: 76%;
    padding: 10%;
    margin-left: 10%;
   
}
.bgColorBlack {
        background-color: rgba(0, 0, 0, 0.76)!important;
}
.colorWhite {
    color:white!important;
}
.dashCenterRow {
    height:200px;
}
.DsCourse {
    text-align: center;
    height: 200px;
    background-image:url("../assets/img/slider/MyCoursePattern.png");
}
.DsOrder {
    background-image:url("../assets/img/Dashboard/DashBlack.png");
    height: 200px;
}
.DsVideo {
   text-align: center;
   height: 200px;
}
.bgNotColorBlack {
}
.pamentHistory {
     height: 200px;
      background-image:url("../assets/img/Dashboard/DashGreen.png");
}
.DsCert {
     text-align: center;
    height: 200px;
     background-image:url("../assets/img/slider/bg-certifications.png");
}
.emailLbl {
    height: 40px;
    background-color: black;
    color: white;
    padding-top: 1%;
}
.dashNotificatio {
        background-color: white;
    height: 40px;
    color: black!important;
    padding-top: 1%;
        border-bottom: 1px solid rgba(92, 58, 58, 0.32);
}
.retiveEmlLbl {
    color: brown!important;
}
.retiveEmldiv{
    border-bottom: 1px solid rgba(0, 0, 0, 0.29)!important;
}
.forgotEmailLbl {
        color: black!important;
    font-size: small!important;
}
.rightAlign {
    text-align:right!important;
}
.confirmCouponLbl {
    margin-left: -5%!important;
}
.displayNone {
    display:none;
}
 .createUserMargins .form-group{
    margin-left: 0px !important;
    margin-right: 0px !important;
 }
/*Added by harsha*/

/*.homepagepara{
    font-size:14px;
    color:black;
    text-align:center;
}*/
.homepagename{
    margin-left:38%;
    color:black;
}
.vertalign{
    vertical-align: middle;
    line-height: 1;
}
.homeimgHeight{
   padding-bottom:20px !important;
}
.backimg{
    background-image:url("https://www.millionlights.org/slider/home/slider-2.png") no-repeat 0 0;
}
.breadCrumbAlign{
    margin-left: -20px !important;
    margin-top: -8px !important;
    width: 1148px !important;
}
.breadCrumbWd{
    width: 1165px !important;
}
.registerMsg {
    padding:25px!important;
    width:40%!important;
    top:30%!important;
}
.custom-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
}
.custom-tabs > li > a:hover {
       border-color: #eee #eee #ddd!important;
}
.nav>li>a:hover, .nav>li>a:focus {
    text-decoration: none!important;
    background-color: #eee!important;
}
.controlmargintop>.btn-group
{
width:99.5%!important;
}
.courseDDLWidth>.btn-group {
    width:100%!important;
}
/*added by harsha*/

.notificationAccordion{
    height:43px;
}
/*end*/
.userTimer, .courseTimer,.certTimer{
    font-size: 30px; 
    font-weight: 700;
    letter-spacing: 2px;
    color:#eab830;
}
.userCountSection, .courseCountSection{
    border-right: 1px solid grey; 
    text-align: center; 
    /*padding: 10px; */ 
    margin-top: 10px; 
    margin-bottom: 10px;
}
.certCountSection{
    text-align: center; 
    /*padding: 10px; */ 
    margin-top: 10px; 
}


.userCountSectionLbl, .courseCountSectionLbl, .certCountSectionLbl{
    font-size:18px; 
    letter-spacing:2px; 
    margin:10px
}

.aboutPage{
    /*background-image:url("../assets/img/slider/AboutBanner.jpg") !important;*/
    background:#0cbdaa url("../learn/img/bg_sub-header.png") repeat 0 0 !important;
	/*background:#0cbdaa url("https://www.millionlights.org/Content/Custom/~/Content/learn/img/BgImage-AjaxSearchBar.jpg") repeat 0 0;*/
    background-size: 100% 561px;
}

.aboutSection1, .aboutSection2{
    text-align: center; 
     padding: 10px; 
    margin-top: 8px; 
    /*padding: 30px; 
    margin-top: 10px;*/ 
    margin-bottom: 10px;
}

.aboutSection1Lbl, .aboutSection2Lbl, .aboutSection3Lbl{
    font-size:18px; 
    letter-spacing:2px; 
    /*margin-top:24%;*/
     margin-top:20%;
    text-align:left;
    padding-left:24%;
}
.aboutpaddingLeft{
     padding-left:0% !important;
}

#mainAbout{
    padding-left: 8%;
    padding-right:4%;
	background-color:#fff;
}

@media (max-width: 767px) {
    .userCountSection, .courseCountSection {
        border-bottom: 1px solid grey;
        border-right: none  ;
        text-align: center;
        margin-left: 10px;
        margin-right: 10px;
    }
}

 @media all and (-ms-high-contrast: none), (-ms-high-contrast: active)
 {
        /* IE10+ CSS styles go here */
        .imgOrderDetails{
            width:69% !important;
            height:78px !important;
        }
     #search-form input{
            margin-bottom:-5px !important;
        }
 }
 .redeemChksize {
        width: 6%!important;
    height: 19px!important;
}
 #OrderGridview > thead > tr{
    background: none !important;
    background-image: none !important;
    background-repeat: repeat-x ;
 }
 #CourseGridview > thead > tr{
      background: none !important;
    background-image: none !important;
    background-repeat: repeat-x ;
 }
 .fontText{
     font-family: 'Raleway', Arial, Helvetica, sans-serif !important;
      font-size:14px !important;
 }
 .btn-group>.multiselect:hover,.open >multiselect {
     background-color: white !important;
   }

 .exportPartner{
     font-size:14px !important;
padding: 6px 14px !important;
 }
 #CourseOrderSuccess.table > thead > tr > th, #CourseOrderSuccess.table > tbody > tr > td{
         text-align: center !important;
 }

.activeCodeTextWidth {
    width:190px !important
}

