<%!
    import json
    from django.utils.translation import ugettext as _
    from openedx.core.lib.js_utils import escape_json_dumps
%>
<%namespace name='static' file='/static_content.html'/>

<%inherit file="../main.html" />

<%block name="pagetitle">${_("Sign in or Register")}</%block>

<%block name="js_extra">
    <%static:require_module module_name="js/student_account/logistration_factory" class_name="LogistrationFactory">
        var options = ${ escape_json_dumps(data) | n };
        LogistrationFactory(options);
    </%static:require_module>
</%block>

<%block name="header_extras">
    % for template_name in ["account", "access", "form_field", "login", "register", "institution_login", "institution_register", "password_reset", "hinted_login"]:
        <script type="text/template" id="${template_name}-tpl">
            <%static:include path="student_account/${template_name}.underscore" />
        </script>
% endfor
</%block>
<h3 style="padding: 100px;font-family: calibri;font-size: 22px;text-align: center;">Logging in with Applied Materials credentials</h3>
<div class="section-bkg-wrapper" style="display:none">
    <div id="login-and-registration-container" class="login-register" />
</div>
<style>
.login-register .login-provider {
    padding: 0 0 0 40px;
    text-align: left;
    position: relative;
    margin-right: 5px;
    margin-bottom: 20px;
    border-color: #c8c8c8;
    width: 300px;
    height: 65px;
    text-shadow: none;
    font-size: 14px;
    text-transform: none;
}
</style>
<script type="text/javascript">
        setTimeout(function(){
                $("button.button-saml-pingsso").click();
                setTimeout(function(){
                        $("button.button-saml-pingsso").click()
                }, 3000);
        }, 1000);
</script>

