<%! from django.utils.translation import ugettext as _ %>


<div style="direction: rtl; text-align: right;">
<p>
${_("Hello, {full_name}").format(full_name=full_name)}
</p>
<p>
${_("You have now been enrolled in {course_name} on {site_name} by the course staff. "
	"The course should be available in your My Courses list on {site_name}. "
	"To start viewing course materials, please visit the page below:").format(
		course_name=display_name or course.display_name_with_default_escaped,
		site_name=site_name
	)}
</p>
<p>
${"{course_url}".format(
		course_url=course_url
	)}
</p>
<hr />
<p>
${_("This email was sent automatically from: {site_name} to {to_email}").format(
		site_name=site_name, to_email=email_address
	)}
</p>
</div>

<br />

<div style="direction: ltr; text-align: left;">
<p>
${("Hello, {full_name}").format(full_name=full_name)}
</p>
<p>
${("You have now been enrolled in {course_name} on {site_name} by the course staff. "
	"The course should be available in your My Courses’ list on {site_name}. "
	"To start viewing course materials, please visit the page below:").format(
		course_name=display_name or course.display_name_with_default_escaped,
		site_name=site_name
	)}
</p>
<p>
${"{course_url}".format(
		course_url=course_url
	)}
</p>
<hr />
<p>
${("This email was sent automatically from: {site_name} to {to_email}").format(
		site_name=site_name, to_email=email_address
	)}
</p>
</div>
