<%inherit file="main.html" />
<%! from django.utils.translation import ugettext as _ %>

<%block name="message">
<p>
${_("Dear learner,")}
</p>
<p>
${_("You have been invited to join {course_name} at {site_name} by a "
	"member of the course staff.").format(
		course_name=display_name or course.display_name_with_default_escaped,
		site_name=site_name
	)}
</p>
<p>
% if is_shib_course:
% if auto_enroll:

${_("To access the course visit {course_url} and login.").format(course_url=course_url)}
% elif course_about_url is not None:

${_("To access the course visit {course_about_url} and register for the course.").format(
		course_about_url=course_about_url)}
% endif
% else:

${_("To finish your registration, please complete the following steps:")}  
    <ol>
      <li>
          ${_("Visit {registration_url} and <b>fill out the registration form</b>. "
              "Make sure to use your correct {email_address} in the E-mail field "
              "on the registration form.").format(
                  registration_url=registration_url,
                  email_address=email_address
              )}
      </li>
      <li>
          ${_("<b>After registering</b>, you will automatically receive an email "
              "from {email_address} with an <b>activation link</b>. "
              "This will be sent to the email address that you registered with. "
              "If you do not see the activation email in your mailbox please check your spam folder.").format(
                  email_address=from_email_address
              )}
      </li>
      <li>
          ${_("<b>Click</b> on the activation link to be taken to your Dashboard in order to join the course. "
              "Once in the Dashboard, you will see {course_name}. Click on the course to access it.").format(
                  course_name=display_name or course.display_name_with_default_escaped
              )}
      </li>
    </ol>
% endif
</p>
<p>
<br />
${_("If you have any problems with these registration steps, please email: {email_address}").format(
        email_address=from_email_address
    )}
</p>
</%block>
