<%inherit file="main.html" />
<%! from django.utils.translation import ugettext as _ %>

<%block name="message">
<div style="text-align: right;">
<p>
${_("Hello, {full_name}").format(full_name=full_name)}
</p>
<p>
${_("You have now been enrolled in {course_name} on {site_name} by the course staff. "
	"The course should be available in your My Courses' list on {site_name}.").format(
		course_name=display_name or course.display_name_with_default_escaped,
		site_name=site_name
	)}
</p>
<p>
${_("To start viewing course materials, please visit the page below:")}
</p>
<p>
${course_url}
</p>
<p>
<hr />
${_("This email was automatically sent from: {site_name} to {email_address}").format(
		site_name=site_name, email_address=email_address
	)}
</p>
</div>
</%block>
