<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
   <head>
      <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
      <meta content="telephone=no" name="format-detection">
      <meta content="width=mobile-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=no" name="viewport">
      <meta content="IE=9; IE=8; IE=7; IE=EDGE" http-equiv="X-UA-Compatible">
      <title>DO School - Newsletter</title>
      <!-- Google Fonts -->
      <link href="http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic" rel="stylesheet" type="text/css">
   </head>
   <!-- Banner Begins -->
   <body yahoo="fix" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
   
   
      <!-- Preheader Wrapper -->
      <table cellpadding="0" cellspacing="0" border="0" bgcolor="#e0e0e0" align="center" width="100%">
         <tbody>
            <tr>
               <td>
                  <!-- Layout Table -->
                  <table border="0" align="center" width="800" cellpadding="0" cellspacing="0" >
                     <tbody>
                        <tr>
                           <td align="center">
                              <!-- Container Table -->
                              <table cellspacing="0" cellpadding="0" border="0" width="600" class="content-width">
                                 <tbody>
                                    <!-- Start Space -->
                                    <tr>
                                       <td height="20" style="font-size: 20px; line-height: 20px;">&nbsp;</td>
                                    </tr>
                                    <!-- End Space -->   
                                    <!-- Preheader Box -->					   
                                    <tr>
                                       <td>
                                       <!-- Preheader -->
                                          <table cellspacing="0" cellpadding="0" border="0" width="400" align="left" >
                                             <tbody>
                                                <tr>
                                                   <td align="left">DO School Online</td>
                                                </tr>
                                              </tbody>
                                          </table>
                                          <!-- HTML Version -->
                                          <table cellspacing="0" cellpadding="0" border="0" width="200" align="right" class="content-width">
                                             <tbody>
                                                <tr>
                                                   <td align="right"><!--View online version--></td>
                                                </tr>
                                             </tbody>
                                          </table>
                                       </td>
                                    </tr>
                                    <tr>
                                       <td height="20">&nbsp;</td>
                                    </tr>
                                    <!-- End Space -->
                                 </tbody>
                              </table>
                              <!-- Container Table Ends -->
                           </td>
                        </tr>
                     </tbody>
                  </table>
               </td>
            </tr>
         </tbody>
      </table>
      <!-- Preheader Bg Ends -->  
      
         		
   
      <!-- Logo Section Begins -->
      <table cellpadding="0" cellspacing="0" border="0" width="100%" bgcolor="ffffff">
         <tbody>
            <tr>
               <td>
                  <!-- Layout Width -->
                  <table cellpadding="0" cellspacing="0" border="0" align="center" width="800">
                     <tbody>
                        <tr>
                           <td align="center">
                              <!-- Container Width -->
                              <table cellpadding="0" cellspacing="0" border="0" align="center" width="600">
                                 <tbody>
                                    <tr>
                                       <td>
                                          <!-- Start Logo -->
                                          <table cellpadding="0" cellspacing="0" width="600" border="0" align="left" class="center">
                                             <tbody>
	                                             <tr>
	                                                <td height="23">&nbsp;</td>
	                                             </tr>
	                                             <tr>
	                                                 <td align="center" valign="middle">
                                                      <img src="https://gallery.mailchimp.com/363a5d7c74d780a6dacd630ec/images/48e4a4ec-8898-4c0d-9547-22d907f34ce4.jpg" alt="TheDoSchool" border="0">
                                                   </td>
	                                              </tr>
	                                            
	                                             <tr>
	                                                <td height="20">&nbsp;</td>
	                                             </tr>
                                             </tbody>
                                          </table>
                                          <!-- End Logo -->
                                         
                                       </td>
                                    </tr>
                                 </tbody>
                              </table>
                              <!-- Container Width Ends -->
                           </td>
                        </tr>
                     </tbody>
                  </table>
                  <!-- Layout Width Ends -->
               </td>
            </tr>
         </tbody>
      </table>
      <!-- Logo Section Ends -->
      
            
      
      <!-- Start Space -->
      <table align="center" width="100%" cellspacing="0" bgcolor="#ffffff" cellpadding="0" border="0">
         <tbody>
            <tr>
               <td height="30"></td>
            </tr>
         </tbody>
      </table>
      <!-- End Space -->
      
      
      


      <!-- Text Section Begins -->
      <table cellpadding="0" cellspacing="0" border="0" width="100%" bgcolor="#ffffff">
         <tbody>
            <tr>
               <td>
                  <!-- Layout Table -->
                  <table border="0" align="center" width="800" cellpadding="0" cellspacing="0">
                     <tbody>
                        <tr>
                           <td align="center">
                              <!-- Container Table -->
                              
                              <table cellspacing="0" cellpadding="0" border="0" width="600" align="center">
                                 <tbody>
                                    <tr>
                                       <td align="center">
                                          <!-- News Box 1 -->
                                          <table cellspacing="0" cellpadding="0" border="0" width="100%" align="left">
                                             <tbody>
                                             	<!-- Main Title -->
                                                <tr>
                                                   <td align="left"></td>
                                                </tr>
                                                <!-- Start Space -->
                                                <tr>
                                                   <td height="12" style="font-size: 12px; line-height: 12px;">&nbsp;</td>
                                                </tr>
                                                <!-- End Space -->
                                                <!-- Description -->
                                                <tr>
                                                   <td align="left">
                                                      <!-- {% block message %} -->
                                                      <%block name="message"></%block>
                                                      <!-- {% endblock %} -->
                                                   </td>
                                                </tr>


																								<!-- Start Space -->
																								<tr>
																								   <td height="20">&nbsp;</td>
																								</tr>
																								<!-- End Space -->
                                             </tbody>
                           		</table>
                           <!-- News Box 1 Ends -->                                               
                                       </td>
                                    </tr>
                                 </tbody>
                              </table>
                          
                           </td>
                        </tr>
                     </tbody>
                  </table>
               </td>
            </tr>
         </tbody>
      </table>
      <!-- Text Section Ends -->



			
									                                    
<!-- News Inner Ends -->

   </body>
   <!-- Banner Ends -->
</html>
