<%! from django.utils.translation import ugettext as _ %>
    <%inherit file="../main.html" />
        
        <%block name="pagetitle">О проекте</%block>
        <style>
            .container.about p,
            .container.about div {
                margin: 0 0 7px;
                color: rgb(60,60,60);
                font-size: 16px;
                line-height: 1.3 !important;
            }
            .container.about {
                color: rgb(60,60,60);
                font-size: 16px;
                line-height: 1.3 !important;
            }
        </style>
        <section class="container about">
        <h1>О проекте</h1>
        
        
        Открытый университет Егора Гайдара – образовательный онлайн-проект Фонда Егора Гайдара, направленный на распространение качественных знаний в области экономических и общественных наук и обеспечение свободного доступа к образованию для слушателей из самых разных городов России.
        <br><br>
        <h4>Кто может стать нашим слушателем</h4>
        <br>
        Образовательные курсы Открытого университета Егора Гайдара предназначены, главным образом, для специалистов и преподавателей региональных вузов, чтобы они могли без отрыва от работы и преподавания быть в курсе новых подходов в изучении экономических и общественных дисциплин и повышать собственную квалификацию. Однако слушателем онлайн-курсов Открытого университета Егора Гайдара может стать любой желающий, имеющий необходимые базовые знания. Обучение в Открытом университете Егора Гайдара бесплатное.
        <br><br>
        <h4>Как устроены наши курсы</h4>
        <br>
        Все учебные онлайн-курсы Открытого университета Егора Гайдара разработаны в сотрудничестве с ведущими вузами страны и подготовлены таким образом, чтобы слушатели могли не только выбрать курс, соответствующий их уровню подготовки, но и постепенно повышать свой уровень квалификации, последовательно проходя один курс за другим. В описании каждого учебного курса указан необходимый для его освоения базовый уровень подготовки.
        <br><br>
        <h4>Как проходит процесс обучения</h4>
        <br>
        Процесс обучения по каждому курсу рассчитан на 10-17 недель и включает в себя видео-лекции, презентации, еженедельное тестирование и домашние задания. Стремясь сохранить в процессе дистанционного образования преимущества очной формы обучения, образовательная платформа Открытого университета Егора Гайдара также позволяет проводить вебинары, во время которых преподаватель и слушатели в режиме реального времени могут обсудить наиболее проблемные и трудные темы курса.
        <br><br>
        <h4>Что получают слушатели по итогам обучения</h4>
        <br>
        По итогам успешного освоения каждого курса в Открытом университете Егора Гайдара слушатели получают сертификат, подтверждающий прохождение ими курса и полученную квалификацию.
        </section>
