<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("About")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">
        <h1>${_("About")}</h1>
        <p>${_("This page left intentionally blank. Feel free to add your own content.")}</p>
        <div class="advantage advantage_about">
        <h2 class="advantage__heading">INTELLECTUALE <br> только качественное среднее образование</h2>
        <div class="advantage__row">
          <div class="advantage__description">
            <span class="advantage__ico-holder"><img class="advantage__ico" src="/static/${settings.DEFAULT_SITE_THEME}/images/ico1.svg" alt=""></span>
            <strong class="advantage__caption advantage__caption_color1">1. МАТЕРИАЛЫ КУРСА</strong>
            <p class="advantage__text">Любой курс включает в себя видео-лекции высшего качества, материалы и закрепляющие задания с автоматической проверкой</p>
          </div>
          <img class="advantage__img" src="/static/${settings.DEFAULT_SITE_THEME}/images/advantage_img1.png" alt="">
        </div>
        <div class="advantage__row">
          <div class="advantage__description">
            <span class="advantage__ico-holder"><img class="advantage__ico" src="/static/${settings.DEFAULT_SITE_THEME}/images/ico2.svg" alt=""></span>
            <strong class="advantage__caption advantage__caption_color2">2. ПОМОЩЬ</strong>
            <p class="advantage__text">Всегда есть возможность задать вопросы по курсу преподавателю и другим учащимся на форумах.</p>
          </div>
          <img class="advantage__img" src="/static/${settings.DEFAULT_SITE_THEME}/images/advantage_img2.png" alt="">
        </div>
        <div class="advantage__row">
          <div class="advantage__description">
            <span class="advantage__ico-holder"><img class="advantage__ico" src="/static/${settings.DEFAULT_SITE_THEME}/images/ico3.svg" alt=""></span>
            <strong class="advantage__caption advantage__caption_color3">3. СЕРТИФИКАТ</strong>
            <p class="advantage__text">По окончании курса ты получишь сертификат о прохождении курса одной из лучших школ России</p>
          </div>
          <img class="advantage__img" src="/static/${settings.DEFAULT_SITE_THEME}/images/advantage_img3.png" alt="">
        </div>
      </div>
    </section>
  <section class="about-history">
    <div class="about-history__wrapper">
      <div class="about-history__text-holder">
        <h3 class="about-history__title">ИСТОРИЯ INTELLECTUALE</h3>
        <p class="about-history__paragraph">Платформа <strong class="about-history">INTELLECTUALE</strong> создана в 2016 году, так как в России доступ к качественному среднему образованию имело меньше 1% всех школьников.</p>
        <p class="about-history__paragraph">Мы разрушаем данный стереотип и создаем <strong class="about-history">курсы мирового уровня</strong> для всех школьников старших классов от <strong class="about-history">лучших школ</strong> России и I-II курсов лучших университетов страны.</p>
      </div>
      <div class="about-history__image-holder">
        <img src="/static/${settings.DEFAULT_SITE_THEME}/images/founders.png" alt="Founders" class="about-history__image">
      </div>
    </div>
  </section>
</main>
