<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Contact")}</%block>

<section class="container about">
    <h1>О проекте</h1>
    
    
    Открытый университет Егора Гайдара – образовательный онлайн-проект Фонда Егора Гайдара, направленный на распространение качественных знаний в области экономических и общественных наук и обеспечение свободного доступа к образованию для слушателей из самых разных городов России.
    <br><br>
    <h4>Кто может стать нашим слушателем</h4>
    <br>
    Образовательные курсы Открытого университета Егора Гайдара предназначены, главным образом, для специалистов и преподавателей региональных вузов, чтобы они могли без отрыва от работы и преподавания быть в курсе новых подходов в изучении экономических и общественных дисциплин и повышать собственную квалификацию. Однако слушателем онлайн-курсов Открытого университета Егора Гайдара может стать любой желающий, имеющий необходимые базовые знания. Обучение в Открытом университете Егора Гайдара бесплатное.
    <br><br>
    <h4>Как устроены наши курсы</h4>
    <br>
    Все учебные онлайн-курсы Открытого университета Егора Гайдара разработаны в сотрудничестве с ведущими вузами страны и подготовлены таким образом, чтобы слушатели могли не только выбрать курс, соответствующий их уровню подготовки, но и постепенно повышать свой уровень квалификации, последовательно проходя один курс за другим. В описании каждого учебного курса указан необходимый для его освоения базовый уровень подготовки.
    <br><br>
    <h4>Как проходит процесс обучения</h4>
    <br>
    Процесс обучения по каждому курсу рассчитан на 10-17 недель и включает в себя видео-лекции, презентации, еженедельное тестирование и домашние задания. Стремясь сохранить в процессе дистанционного образования преимущества очной формы обучения, образовательная платформа Открытого университета Егора Гайдара также позволяет проводить вебинары, во время которых преподаватель и слушатели в режиме реального времени могут обсудить наиболее проблемные и трудные темы курса.
    <br><br>
    <h4>Что получают слушатели по итогам обучения</h4>
    <br>
    По итогам успешного освоения каждого курса в Открытом университете Егора Гайдара слушатели получают сертификат, подтверждающий прохождение ими курса и полученную квалификацию.
    <br>
    Контакты:
    <br>
    Фонд Егора Гайдара
    <br>
    127055, Москва, ул. Тихвинская, д. 2, оф. 6
    <br>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2243.4475952748594!2d37.599693516285235!3d55.785465380562165!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b54a1adf549d4b%3A0xdabbd1b645673219!2z0KLQuNGF0LLQuNC90YHQutCw0Y8g0YPQuy4sIDIsIDYsINCc0L7RgdC60LLQsCwg0KDQvtGB0ZbRjywgMTI3MDU1!5e0!3m2!1suk!2sua!4v1513081071034" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    <br>
    По всем организационным вопросам: <a href= "mailto:gou@gaidarfund.ru" >gou@gaidarfund.ru</a>
    По техническим вопросам: <a href= "mailto:support@gaidaruniversity.ru" >support@gaidaruniversity.ru</a>
</section>
