<%page expression_filter="h"/>
<%!
from django.utils.translation import ugettext as _
from django.core.urlresolvers import reverse
%>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Contact")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">
        <h1>${_("Contact")}</h1>
        <form id="contact_form" name="contact_form" class="" action="${reverse('contact_form')}" method="post">
          <input type="hidden" name="csrfmiddlewaretoken" value="${ csrf_token }">
          ${form.as_ul() | n}
          <button type="submit">${_('Submit')}</button>
    </section>
</main>
