<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Contact")}</%block>
<style>
    .container.about p,
    .container.about div, {
        margin: 0 0 7px;
    }
</style>
<section class="container about">
    <h1>О проекте</h1>
    
    
    Открытый университет Егора Гайдара – это электронная образовательная площадка, где публикуются онлайн-курсы по экономике, социологии, истории и политологии, созданные в партнерстве с крупнейшими российскими университетами, такими, как МГУ, НИУ ВШЭ, Шанинка. В числе партнеров также Европейский университет в Санкт-Петербурге, Московский городской пед.университет.
    <br>&nbsp;<br>
    Открытый университет Егора Гайдара – это возможность:
    <br>&nbsp;<br>
	<p>-	пройти обучение по любому курсу бесплатно и в удобном режиме;</p>
	<p>-	слушать лекции лучших специалистов в своей области;</p>
	<p>-	закреплять знания практическими заданиями;</p>
	<p>-	проходить курсы в сопровождении преподавателя;</p>
    <br>
    У Вас, как нашего потенциального слушателя, есть также возможность получить по итогам курса электронный сертификат Фонда Егора Гайдара, или Удостоверение о повышении квалификации установленного образца, поскольку у Фонда есть лицензия на дополнительное профессиональное образование. 
    <br>&nbsp;<br>
    Кто может стать нашим слушателем: образовательные курсы Открытого университета Егора Гайдара предназначены, главным образом, для специалистов и преподавателей региональных вузов, чтобы они могли без отрыва от работы и преподавания быть в курсе новых подходов в изучении экономических и общественных дисциплин и повышать собственную квалификацию. Однако слушателем онлайн-курсов Открытого университета Егора Гайдара может стать любой желающий!
    <br>
    Как записаться на курс: все курсы проходят по расписанию, занимают от 8 до 14 недель. Каждый курс сопровождается преподавательской командой, которая отвечает на вопросы, проверяет задания, дает рекомендации. После регистрации на сайте вы можете выбрать один или несколько курсов, на которые открыта запись и зарегистрироваться. Если Вы пропустили сроки записи на курс, не расстраивайтесь – через несколько месяцев мы, скорее всего, повторим его!
    <br>&nbsp;<br>
    Кроме учебных курсов, есть раздел «Видеолекции»: там можно послушать тематические подборки выступлений ведущих ученых – историков, социологов, экономистов, которые участвовали в различных проектах Фонда Егора Гайдара.  
    <br>
    Процесс обучения по каждому курсу рассчитан на 10-17 недель и включает в себя видео-лекции, презентации, еженедельное тестирование и домашние задания. Стремясь сохранить в процессе дистанционного образования преимущества очной формы обучения, образовательная платформа Открытого университета Егора Гайдара также позволяет проводить вебинары, во время которых преподаватель и слушатели в режиме реального времени могут обсудить наиболее проблемные и трудные темы курса.
    <br>&nbsp;<br>
    <h1>Контакты:</h1>
    <br>&nbsp;<br>
    Фонд Егора Гайдара
    <br>&nbsp;<br>
    127055, Москва, ул. Тихвинская, д. 2, оф. 6
    <br>&nbsp;<br>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2243.4475952748594!2d37.599693516285235!3d55.785465380562165!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b54a1adf549d4b%3A0xdabbd1b645673219!2z0KLQuNGF0LLQuNC90YHQutCw0Y8g0YPQuy4sIDIsIDYsINCc0L7RgdC60LLQsCwg0KDQvtGB0ZbRjywgMTI3MDU1!5e0!3m2!1suk!2sua!4v1513081071034" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    <br><br>
    <div>По всем организационным вопросам: <a href= "mailto:gou@gaidarfund.ru" >gou@gaidarfund.ru</a></div>
    <div>По техническим вопросам: <a href= "mailto:support@gaidaruniversity.ru" >support@gaidaruniversity.ru</a></div>
</section>
