<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Honor Code")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">
        <h1>
            <strong>ANVÄNDARVILLKOR</strong>
        </h1>

        <p>
            Opusplace är en kollegial mötesplats och tjänst för lärare som undervisar
            på låg-, mellan-, högstadiet, och gymnasiet. För att säkerställa en trygg
            och trivsam miljö på Opusplace redogör vi nedan för de användarvillor som
            gäller på Opusplace. När du som användare loggar in på Opusplace godkänner
            du denna redogörelse. Våra användarvillkor kan ibland komma att uppdateras
            och vi rekommenderar därför att du med jämna mellanrum ser över dessa
            användarvillkor.
        </p>
        <p>
            Senast uppdaterad: 2017-01-04
        </p>
        <p>
            <strong>Hederskod</strong>
            </br>
            Användare av Opusplace borgar för att de arbetar som lärare på låg-,
            mellan-, högstadiet, eller gymnasiet. I det fall en person som inte
            undervisar som lärare på grundskolan eller gymnasiet registrerar ett
            användarkonto borgar de för att informera Opusplace om detta via ”Skapa
            användarkonto” sidan på Opusplace så att en bedömning om lämpligt
            deltagande på Opusplace kan göras innan inloggningsuppgifter skickas till
            den ansökande. Opusplace reserverar rätten att neka deltagande till icke
            yrkesverksamma grundskole- eller gymnasielärare.
        </p>
        <p>
            <strong>Innehåll och säkerhet</strong>
            </br>
            Som användare av Opusplace får du gärna dela med dig av innehåll, t.ex.
            text, foton eller filmklipp, till övriga deltagare på Opusplace. Som
            användare borgar du för att delat innehåll inte gör intrång på eller
            kränker någon annans rättigheter eller person, eller på annat sätt bryter
            mot lagen. Opusplace har rätt att ta bort innehåll som vi uppfattar strider
            mot villkoren i denna redogörelse. Delar du med dig av innehåll på
            Opusplace beviljar du oss en icke-exklusiv, överföringsbar,
            vidarelicensierbar, royaltyfria, global licens att använda det innehåll du
            publicerar på, eller i anslutning till, Opusplace.
        </p>
        <p>
            Opusplace är ett av B Collaborative AB, org.nr. 559074-7514 (nedan kallat
            BCAB), registrerat varumärke. BCAB är ägare av denna mötesplats och tjänst
            och personuppgiftsansvarig för behandlingen av personuppgifter på
            Opusplace.
        </p>
        </br>
        <p>
            <center><h1><strong>Personuppgiftspolicy</strong></h1></center>
            <strong>Grundläggande principer</strong>
            </br>
            BCAB förbinder sig att respektera och skydda dina personuppgifter och din
            personliga integritet i enlighet med gällande lagstiftning, branschregler
            och andra relevanta normer. För att du bättre ska kunna förstå hur vi
            behandlar information om dig redovisar vi nedan våra grundläggande
            principer för behandling av personuppgifter.
        </p>
        <p>
            <strong>Insamling av personuppgifter</strong>
            </br>
            Insamling av personuppgifter kan vara både aktiv och passiv. Aktiv
            insamling sker när du som användare lämnar dina uppgifter till oss i
            samband med inloggning eller liknande. Om du inte själv genom en aktiv
            handling lämnar uppgifterna till oss utan insamlandet sker med hjälp av
            andra verktyg (t.ex. genom cookies) anses insamlingen passiv. Läs mer om
            cookies nedan.
        </p>
        <p>
            <strong>Om cookies på webbplatsen Opusplace</strong>
            </br>
            <strong>
                <em>
                    Vad är en cookie?    
                </em>
            </strong>
            </br>
            En cookie är en liten textfil som webbplatser du besöker skickar till din
            dator och som sparas där. Cookies används på många webbplatser för att ge
            en besökare tillgång till olika funktioner. Informationen i cookien är
            möjlig att använda för att följa en besökares surfande.
            </br>
            Det finns två typer av cookies. Den ena typen sparar en fil under en längre
            tid på din dator. Den används till exempel vid funktioner som talar om vad
            som är nytt sedan användaren senast besökte den aktuella webbplatsen.
            </br>
            Den andra typen av cookies kallas sessionscookies. Under tiden du är inne
            och surfar på en sida, lagras den cookien temporärt i din dators minne
            exempelvis för att hålla reda på vilket språk du har valt. Sessionscookies
            lagras inte under en längre tid på din dator, utan försvinner när du
            stänger din webbläsare.
            </br>
            I en del funktioner på Opusplace, till exempel i vår
            kursprogressionsdelarna, använder vi cookies för att du enkelt ska kunna
            fortsätta din interaktion i våra fortbildningar, från session till session,
            där du senast avslutade. Utan dessa cookies skulle du inte kunna fortsätta
            läsa fortbildningen från den plats där du senast avslutade utan skulle
            istället behöva börja om från kursstart varje gång du loggade in och
            manuellt söka dig tillbaka till där du sist avslutade.
            </br>
            Om du väljer att stänga av cookies kommer inte Opusplace att fungera så som
            du som användare förväntar dig.
            </br>
            En vanlig missuppfattning om cookies är att det är en sorts virus och att
            webbplatser med hjälp av cookies kan ta reda på personlig information från
            en dator eller att cookies är till för att kunna sända skräppost. Ingenting
            av detta är sant, cookies är bara data.
            </br>
            De flesta webbläsare är inställda för att tillåta lagring av cookies. Om du
            inte vill tillåta detta kan den stängas av. Information om hur du gör detta
            finns i webbläsarens hjälpfunktion.
        <p>
            <strong>När sker behandling av personuppgifter?</strong>
            </br>
            Webbplatsen Opusplace behandlar dina personuppgifter när du:
            </br>
            • Registrerar dig på Opusplace
            </br>
            • Anmäler dig till att delta på våra fortbildningar och event
            </br>
            • Anmäler dig som prenumerant till vårt nyhetsbrev
            </br>
            • Söker kontakt med oss i övrigt
            </br>
            • Besöker Opusplace
        </p>
        <p>
            <strong>
                Samtycke    
            </strong>
        </br>
            Genom att använda Opusplace godkänner du denna Personuppgifts- och
            cookiepolicy. BCAB kan komma att ändra och/eller uppdatera Personuppgifts-
            och cookiepolicyn och eftersom sådana ändringar inte meddelas på annat sätt
            än genom de nya villkorens publicering på våra webbplatser så rekommenderar
            vi att du regelbundet tar del av dessa.
            </br>
            När det enligt lag krävs att ditt samtycke inhämtas för behandling av vissa
            slags personuppgifter, eller för vissa former av behandling, så kommer
            sådant särskilt samtycke att inhämtas från dig innan personuppgifterna
            behandlas.
        </p>
        <p>
            <strong>Registrerade uppgifter</strong>
            </br>
            De uppgifter som du väljer att lämna är de uppgifter som registreras. BCAB
            har som policy att inte samla in och registrera känsliga personuppgifter.
            Om du däremot själv lämnar information om ditt hälsotillstånd, till exempel
            att du är allergiker och önskar viss kost på ett event, förutsätter vi att
            du samtycker till att uppgifterna registreras hos oss.
        </p>
        <p>
            <strong>Ändamålet med behandlingen av personuppgifter</strong>
            </br>
            BCAB samlar in personuppgifter när du registrerar dig på Opusplace, anmäler
            dig till att delta på våra fortbildningar och event, anmäler dig som
            prenumerant till vårt nyhetsbrev, söker kontakt med oss via vår hemsida,
            per telefon eller brev, och när du besöker vår webbplats Opusplace. De
            personuppgifter som du lämnar registreras då i våra register och används
            bl.a. för att kommunicera och uppfylla våra åtaganden gentemot våra
            användare.
        </p>
        <p>
            När du söker lediga tjänster, skickar in intresseförfrågningar avseende
            anställning hos oss, deltar i undersökningar eller vill bli kontaktad av
            oss använder vi dina personuppgifter endast för det ändamål för vilka du
            lämnat dem.
        </p>
        <p>
            Andra ändamål med vår behandling av personuppgifter är att samla in
            information om hur du som användare utnyttjar våra webbplatser för att
            analysera sökbeteende, för statistikändamål, för att förbättra våra
            webbplatser, göra dem mer användarvänliga och kontrollera att de fungerar
            på avsett sätt. Sådan information samlas t.ex. in med hjälp av
            analysverktyg och cookies.
        </p>
        <p>
            <strong>Utlämnande av personuppgifter</strong>
            </br>
            Personuppgifter kan komma att överföras mellan bolag och organisationer
            inom BCABs koncern.
        </p>
        <p>
            BCAB kan även komma att lämna ut personuppgifter till underleverantörer
            (t.ex. en it-leverantör som driftar våra datasystem). Våra
            underleverantörer får alltid underteckna ett personuppgiftsbiträdesavtal
            med BCAB för att vi ska kunna säkerställa en hög skyddsnivå för dina
            personuppgifter. BCAB överför i regel inte personuppgifter till något land
            utanför EU/EES men om vi t.ex. har en underleverantör i ett land utanför
            EU/EES kan överföring av personuppgifter till tredje land komma att ske.
        </p>
        <p>
            Vid anmälningar kan den information som antecknas i registret komma att
            lämnas ut till utomstående, det vill säga till person eller företag utanför
            BCAB, i den utsträckning det krävs för att administrera deltagandet för en
            fortbildning eller event för att utföra åtagandet.
            </br>
            Vad gäller marknadsföringsåtgärder samt uppföljning och utveckling kan
            uppgifterna komma att lämnas ut till de personer eller företag som BCAB
            samarbetar med.
        </p>
        <p>
            Vid behandling av personuppgifter i övriga situationer, lämnas
            personuppgifterna inte ut till utomstående för det fall det inte särskilt
            angetts i samband med att uppgifterna samlades in, om det inte särskilt
            föreskrivs i lag eller förordning.
        </p>
        <p>
            <strong>Hur länge finns uppgifterna kvar?</strong>
            </br>
            Vi behåller dina personuppgifter så länge det behövs för att vi ska kunna
            fullgöra vårt åtagande, det vill säga tillhandahålla tjänsten eller
            fortbildningen, fakturera, hantera klagomål eller reklamationer med mera.
        </p>
        <p>
            <strong>Säkerhet</strong>
            </br>
            Det innebär alltid en risk att lämna ut personuppgifter över Internet. Inga
            tekniksystem är helt skyddade för intrång. BCAB har emellertid vidtagit
            alla rimliga tekniska säkerhetsåtgärder som krävs för att skydda
            personuppgifterna mot otillbörlig åtkomst, förändring och förstörelse.
        </p>
        <p>
            <strong>Disclaimer</strong>
            </br>
            BCABs webbplatser kan innehålla länkar eller hänvisningar till webbplatser
            som tillhandahålls av tredje part. BCAB ansvarar inte för den behandling av
            personuppgifter som sker, eller det innehåll som tillhandahålls av sådan
            tredje part, på tredje parts webbplats.
        </p>
        <p>
            <strong>
                Registerutdrag och rättelser
            </strong>
            </br>
            Du har rätt att en gång per år få information om vilka personuppgifter om
            dig som behandlas av BCAB och dess dotterbolag. Du ska i sådana fall begära
            detta skriftligt till personuppgiftsombudet på adressen nedan. Begäran ska
            vara egenhändigt undertecknad av den sökande samt innehålla uppgift om namn
            och personnummer. Utdragen sänds till den sökandes folkbokföringsadress
            inom en månad från det att ansökan inkommit till BCAB.
            </br>
            <em>
                B Collaborative AB
            </br>
                Attention: PERSONUPPGIFTSOMBUD
            </br>
                Birger Jarlsgatan 57C, Fack 37
            </br>
                113 56 Stockholm
            </em>
            </br>
            Om du anser att en uppgift om dig är fel eller missvisande, kan du vända
            dig till Medlemsservice på info@bcollaborative.se.
        </p>
    </section>
</main>
