// ------------------------------
// // Open edX Certificates: Base

// About: Base resets and definitons (using shared resources from elements when appropriate).

// ------------------------------
// #RESET
// ------------------------------

// ------------------------------
// #BASE
// ------------------------------
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: palette(grayscale, white);
}

.accomplishment-rendering .accomplishment-type-symbol {
    width: 16rem !important;
    height: auto !important;
}

// ------------------------------
// #TYPOGRAPHY
// ------------------------------
@font-face {
    font-family: 'gotham-narrow-book';
    src: url('/static/certificates/fonts/gotham-narrow-book/gotham-narrow-book.otf') format('otf'),
        url('/static/certificates/fonts/gotham-narrow-book/gotham-narrow-book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'gotham-narrow-book-italic';
    src: url('/static/certificates/fonts/gotham-narrow-book-italic/gotham-narrow-book-italic.otf') format('otf'),
        url('/static/certificates/fonts/gotham-narrow-book-italic/gotham-narrow-book-italic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'gotham-narrow-light';
    src: url('/static/certificates/fonts/gotham-narrow-light/gotham-narrow-light.otf') format('otf'),
        url('/static/certificates/fonts/gotham-narrow-light/gotham-narrow-light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'gotham-narrow-light-italic';
    src: url('/static/certificates/fonts/gotham-narrow-light-italic/gotham-narrow-light-italic.otf') format('otf'),
        url('/static/certificates/fonts/gotham-narrow-light-italic/gotham-narrow-light-italic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'barmenoregular';
    src: url('/static/certificates/fonts/barmeno-regular/barmeno-regular-58af156c58e64-webfont.otf') format('otf'),
        url('/static/certificates/fonts/barmeno-regular/barmeno-regular-58af156c58e64-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}