// ------------------------------
// Open edX Certificates: Overrides

// About: Additional sass rules that must come at the end of the compilation for overriding purposes - either for temporary/specific developer styling needs or for known poorly scoped/written styling (aka shame CSS).

// #TEMP
// #DEVELOPERS
// #SHAME

// ------------------------------
// #TEMP
// ------------------------------

// ------------------------------
// #DEVELOPERS
// ------------------------------

// ------------------------------
// #SHAME
// ------------------------------

* * {
    font-family: "Lato", sans-serif !important;
}

.fa {
    font-family: FontAwesome !important;
}
.header-app .logo {
    width: 285px;
}
body {
    .copy-lead a, .copy-large a, .badges-overlay .badges-modal a, .copy-base a, .alert-copy a, .alert-copy-with-title a, .accomplishment-metadata .metadata .value a, .accomplishment-metadata .recipient-details a, .copy-meta a, .table caption a, .table-simplified caption a, .accomplishment-metadata .metadata .label a, .copy-micro a, a, .link, .btn-link, .table-sortable .sortable .action-sort {
        color: #9250f0;
        &:hover, &:focus {
            color: darken(#9250f0,20%);
        }
    }
}
.layout-accomplishment .accomplishment-orgs .organization-logo {
    max-width: 180%;
}
