// ------------------------------
// Open edX Certificates: Main Style Compile

// About: Sass compile for the Open edX Certificates Elements.

// NOTE: This is the left to right (LTR) configured style compile.
// It should mirror main-rtl w/ the exception of bi-app references.


// Load the LTR version of the edX Pattern Library
$pattern-library-path: '../../edx-pattern-library' !default;
@import 'edx-pattern-library/pattern-library/sass/edx-pattern-library-ltr';

// Load the shared build
@import 'build';

.accomplishment-rendering .accomplishment-type-symbol {
  margin-bottom: 0;
}

.accomplishment .accomplishment-type-symbol .src {
  height: 90px;
  width: initial;
  display: inline;
  // margin-top: 51px;
}

.layout-accomplishment.certificate-honor .accomplishment-rendering .accomplishment-type {
  margin-bottom: 0;
  padding: 44px 0 50px;
}

#certificate-title {
  text-align: center;
  padding: 0 40px 21px;
}

#course-title {
  line-height: 1.3;
  font-size: 36pt;
  color: #6f6e61;
  font-family: gotham-narrow-book, serif;
  display: block;
}

.accomplishment-rendering .accomplishment-statement-lead {
  font-family: "Open Sans";
}

span.accomplishment-course-name {
  font-size: 19pt;
  font-family: barmenoregular, serif;
}
.certificate .accomplishment-rendering .accomplishment-statement-lead {
  margin: 0;
}
.accomplishment-certificate-date {
  font-family: gotham-narrow-light-italic, serif;
  font-size: 13px;
}

.accomplishment-rendering .accomplishment-statement {
  margin-bottom: 0;
  border-bottom: none;
}

.accomplishment-rendering .accomplishment-signatories .list-signatories {
  display: flex;
  justify-content: center;
}

.accomplishment-rendering .accomplishment-signatories {
  border-bottom: none;
  margin-bottom: 0;
  padding: 20px 0 25px;
}

#sign0 {
  order: -3;
}

#sign1 {
  order: -1;
}

div.organization {
  order: -2;
}

img.organization-logo {
  height: 175px;
  margin-top: 25px;
  margin-left: 100px;
  margin-right: 100px;
}

#line {
  width: 250px;
  margin: 1px;
}

#student-name {
  margin-bottom: 0;
  font-family: barmenoregular, serif;
  font-size: 23pt;
  padding: 0 0 28px;
}

.accomplishment-rendering .accomplishment-signatories .signatory-credentials  {
  margin-bottom: 0;
  font-family: "gotham-narrow-book-italic" !important;
  font-size: 8pt;
}

.accomplishment-rendering .accomplishment-signatories .signatory-credentials .role {
  display: inline;
  font-style: italic;
}

.accomplishment-rendering .accomplishment-signatories .signatory-name {
  font-size: 0.75rem;
  font-style: italic;
}

p.organization {
  font-size: 0.75rem;
  font-style: italic;
  font-family: "Gotham Narrow" !important;
}

.certificate .accomplishment-rendering .accomplishment-recipient {
  font-family: "Open Sans";
}

.layout-accomplishment .accomplishment-rendering .accomplishment-summary {
  font-family: "gotham-narrow-light", serif;
  font-size: 16pt;
  line-height: 1.3;
  margin-bottom: 15px;
}

.layout-accomplishment .accomplishment-rendering .accomplishment-statement-detail {
  font-family: "Open Sans";
}

p.accomplishment-certificate-course-hours {
  text-align: center;
  font-family: gotham-narrow-light, serif;
  font-size: 16pt;
  // padding: 15px 0 19px;
  margin: 0 0 18px;
}

p.accomplishment-certificate-date {
  text-align: center;
  font-size: 1.2rem;
  font-style: italic;
  // margin: 0 0 38px;
}

.layout-accomplishment .accomplishment-rendering .accomplishment-course {
  margin-bottom: 0;
}

.certificate .accomplishment-rendering .accomplishment-statement {
  padding-bottom: 0;
}

.accomplishment-rendering {
  border-top: none;
}

.top-right,
.bottom-right,
.bottom-left,
.top-left {
   position: absolute;
   width: 18px;
   height: 18px;
}
.top-right {
   top: 20px;
   right: 20px;
   background-image: url('/static/opusplace/images/top-right.png');
}
.bottom-right {
   bottom: 20px;
   right: 20px;
   background-image: url('/static/opusplace/images/bottom-right.png');
}
.bottom-left {
   bottom: 20px;
   left: 20px;
   background-image: url('/static/opusplace/images/bottom-left.png');
}
.top-left {
   top: 20px;
   left: 20px;
   background-image: url('/static/opusplace/images/top-left.png');
}
.bottom-line,
.right-line,
.left-line,
.top-line {
   position: absolute;
}
.bottom-line {
   bottom: 20px;
   left: 38px;
   right: 38px;
   height: 6px;
   background-image: url('/static/opusplace/images/bottom-side.png');
   background-repeat: repeat-x;
}
.top-line {
   top: 20px;
   left: 38px;
   right: 38px;
   height: 6px;
   background-image: url('/static/opusplace/images/top-side.png');
   background-repeat: repeat-x;
}
.left-line {
   left: 20px;
   bottom: 38px;
   top: 38px;
   width: 6px;
   background-image: url('/static/opusplace/images/left-side.png');
   background-repeat: repeat-y;
}
.right-line {
   right: 20px;
   bottom: 38px;
   top: 38px;
   width: 6px;
   background-image: url('/static/opusplace/images/right-side.png');
   background-repeat: repeat-y;
}

.layout-accomplishment.certificate-honor .accomplishment-rendering .accomplishment-signatories .signatory-signature {
  margin-bottom: 0;
}

#first-span {
  margin-bottom: 0;
}

.layout-accomplishment.certificate-honor .accomplishment-rendering .accomplishment-signatories .signatory-signature {
  padding-bottom: 0;
}
.organization-text {
  font-family: "Gotham Narrow" !important;
  font-style: italic;
  display: block;
  text-align: center;
  font-weight: 400;
  font-size: 0.75rem;
}
.accomplishment-course.hd-1.emphasized {
  font-size: 19pt;
  line-height: 1.3;
  padding: 0 0 14px;
}