## mako
<%! from django.utils.translation import ugettext as _ %>
<%namespace name='static' file='/static_content.html'/>
<%inherit file="/main.html" />
<%block name="bodyclass">view-calendar is-in-course course</%block>
<%block name="pagetitle">${_("PAGE NAME")}</%block>
<%block name="headextra">
<%static:css group='style-course'/>
</%block>
<%include file="/courseware/course_navigation.html" args="active_page='PAGE-SLUG'" />

<div class="container">
  <div class="teams-wrapper">
    <main id="main" aria-label="Content" tabindex="-1">
      <section class="teams-content">
        <h1>SUCCESS!!!!!</h1>
      </section>
    </main>
  </div>
</div>
