<%inherit file="../main.html" />
<%namespace name='static' file='/static_content.html'/>
<%!
from django.utils.translation import ugettext as _
from django.conf import settings
%>
<%block name="pagetitle">${_("Shopping cart")}</%block>

 <%block name="custom_content">
<%! from django.utils.translation import ugettext as _ %>
<div class="mpesa_payment">
    <form action="${action}" method="post" id="mpesa_form">
        % for pk, pv in params.iteritems():
            <input type="hidden" name="${pk}" value="${pv}" />
        % endfor

        <input type="txt" name="phone" id="phone" placeholder="${_('Your phone number')}" required="required" >
        <button id="submit" type="submit" class="button postfix discovery-submit">
            <div id="button_text">${_('Payment')}</div>
            <div aria-live="polite" aria-relevant="all">
                <div id="loading-indicator" class="loading-spinner hidden">
                    <span class="icon fa fa-spinner fa-spin" aria-hidden="true"></span>
                    <span class="sr">Loading</span>
                </div>
            </div>
        </button>
    </form>



</section>


<script>
    /**
 * charCode [48,57] 	Numbers 0 to 9
 * keyCode 46  			"delete"
 * keyCode 9  			"tab"
 * keyCode 13  			"enter"
 * keyCode 116 			"F5"
 * keyCode 8  			"backscape"
 * keyCode 37,38,39,40	Arrows
 * keyCode 10			(LF)
 */
function validate_int(myEvento) {
  var myCaja = document.getElementById("phone");
  myText = myCaja.value;
  if ((myEvento.charCode >= 48 && myEvento.charCode <= 57) && myText.length < 12) {
    dato = true;
  } else {
    dato = false;
  }
  return dato;
}

document.getElementById("phone").onkeypress = validate_int;




$("#mpesa_form").submit(function(e) {

    var url = "${action}";
    console.log('start submit form')
    $.ajax({
           type: "POST",
           url: url,
           data: $("#mpesa_form").serialize(),
           success: function(data)
           {
               alert(data);
           }
         });
    document.getElementById("submit").disabled = true;
    document.getElementById("phone").disabled = true;
    document.getElementById("loading-indicator").classList.remove("hidden");
    document.getElementById("button_text").classList.add("hidden");

    console.log('form is submited. Waiting.')
    e.preventDefault();
});

</script>
</div>
</%block>
