<%! from django.utils.translation import ugettext as _ %>
<%inherit file="main.html" />

<%block name="pagetitle">${_("Contact us")}</%block>

<div class="login-register">
  <section class="form-type">
    <div class="form-wrapper">
      <div class="dashboard-notifications" tabindex="-1" style="padding-top: 10px;">
      %if messages:
        %for message in messages:
          <section class="dashboard-banner">
            ${message}
          </section>
        %endfor
      %endif
      </div>
      <h1>${_("Contact us")}</h1>
      <div class="inner-wrapper">
        <ul class="custom-list">
          <li>${_("Are you a Language student or Language Teacher?")}</li>
          <li>${_("Are you a Language institution?")}</li>
          <li>${_("Do you have questions, suggestions or issues?")}</li>

        </ul>
        <p>${_("Please let us know!")}</p>
        <p></p>
      </div>

      <div class="">

        <form action="" method="post" class="register-form" accept-charset="UTF-8" autocomplete="off" tabindex="-1">
          <input type="hidden" name="csrfmiddlewaretoken" value="${csrf_token}">
          % for num, field in enumerate(form):
             % if num == 1:
              <div class="form-field">
                <label for="field.id_for_label">${field.label}</label>
                ${field}
              </div>
             % else:
          <label for="${field.id_for_label}" style="font-style: normal;">
            ${field.label}&#160;&#160;&#160;&#160;
          </label>
                ${field}
             %endif
          %endfor
          <button type="submit" class="action action-primary action-update custom-action" aria-disabled="false">Submit</button>
        </form>
      </div>
      </p>
    </div>

  </section>

</div>



