<%! from django.utils.translation import ugettext as _ %>
<%inherit file="main.html" />

<%block name="pagetitle">${_("Contact us")}</%block>

<section class="container about">
    <div class="dashboard-notifications" tabindex="-1" style="padding-top: 10px;">
      %if messages:
        %for message in messages:
          <section class="dashboard-banner">
            ${message}
          </section>
        %endfor
      %endif
    </div>
    <h1>${_("Contact us")}</h1>
    <p>
        ${_("Are you a Language student or Language Teacher?")}
        <br />
        ${_("Are you a Language institution?")}
        <br />
        ${_("Do you have questions, suggestions or issues?")}
        <br />
        ${_("Please let us know")}
    </p>
    <p>
        <div class="group group-form group-form-requiredinformation">
            <form action="" method="post" id="webform-client-form-285" accept-charset="UTF-8">
                <input type="hidden" name="csrfmiddlewaretoken" value="${csrf_token}">
                <table>
                    ${ form.as_table() }
                    <tr>
                        <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                        <td><button type="submit" class="action action-primary action-update" aria-disabled="false">${_("Submit")}</button></td>
                    </tr>
                </table>
            </form>
        </div>
    </p>

</section>
