<section><h2>Honor Code</h2>
<article>By registering in an appliedx course, you agree to: 
	<ol>
		<li>Rely solely on your own work in connection with all assessments, problems, homework and assignments (unless collaboration is expressly permitted)</li>
		<li>Acknowledge any and all external sources used in your work </li>
		<li>Refrain from any activity that would fraudulently improve your results or disadvantage others in the course </li>
	</ol>
	<p>
	The courses assigned to you as part of the Integrated Training Initiative teach best known methods for product development and delivery distilled from 30,000 man years of 	
	Applied	experience and are taught by your colleagues who are experts in the subject matter.  To check your FY16 training requirements click on this link.
	</p>
	<p>
	We hope you will enjoy them and help us create a culture of learning and sharing knowledge at Applied.  This Honor Code is not intended to prohibit discussion of course 	
	material. While you must submit work that is your own, you should feel free to discuss lectures or other course material with your Applied colleagues either in-person or online.
	</p>
</article></section>
