<%page expression_filter="h"/>
<%inherit file="main.html" />
<%namespace name='static' file='static_content.html'/>
<%!
from django.utils.translation import ugettext as _
from django.core.urlresolvers import reverse

from openedx.core.djangolib.markup import HTML, Text
%>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="home">
      <header>
        <div class="outer-wrapper">
          <div class="title">
                <hgroup>
                    <H1>Открытый университет <br>Егора Гайдара</h1><h3>Бесплатные онлайн курсы по экономическим и социальным дисциплинам от лучших ВУЗов страны</h3>
                </hgroup>
                
                ## Disable social buttons for non-edX sites
 
                <section class="actions">
                    <div class="main-cta">
                        <a href="#signup-modal" id="signup_action" class="find-courses" rel="leanModal">${_("Sign Up")}</a>
                    </div>
                    
                    <div class="secondary-actions">
                        <div class="social-sharing">
                            <div class="sharing-message">${_("Stay up to date with all {platform_name} has to offer!").format(platform_name=settings.PLATFORM_NAME)}</div>
                            <a href="https://twitter.com/edXOnline" class="share">
                                <img src="${static.url('images/social/twitter-sharing.png')}">
                                    </a>
                            <a href="http://www.facebook.com/EdxOnline" class="share">
                                <img src="${static.url('images/social/facebook-sharing.png')}">
                                    </a>
                            <a href="https://plus.google.com/108235383044095082735/posts" class="share">
                                <img src="${static.url('images/social/google-plus-sharing.png')}">
                                    </a>
                        </div>
                    </div>
                    
                </section>
     
            </div>

            <a href="#video-modal" class="media" rel="leanModal">
              <div class="hero">
                <div class="play-intro"></div>
              </div>
            </a>

        </div>

      </header>
      <%include file="${courses_list}" />

    </section>
</main>


  <section id="video-modal" class="modal home-page-video-modal video-modal">
    <div class="inner-wrapper">
      <iframe title="YouTube Video" width="640" height="360" src="//www.youtube.com/embed/gKgBgZhxc88" frameborder="0" allowfullscreen></iframe>
    </div>
  </section>


<%block name="js_extra">
   <script type="text/javascript">
      $(window).load(function() {
         if(getParameterByName('next')) {
              $('#login').trigger("click");
         }
      })
   </script>
</%block>

% if show_signup_immediately is not UNDEFINED:
  ## NOTE: This won't work in production, because anonymous views are cached, so it will
  ## show either with or without this extra js for 3 minutes at a time.
<script type="text/javascript">
  $(window).load(function() {$('#signup_action').trigger("click");});
</script>
% endif
