<%page expression_filter="h"/>
<%inherit file="main.html" />
<%namespace name='static' file='static_content.html'/>
<%!
from django.utils.translation import ugettext as _
from django.core.urlresolvers import reverse

from openedx.core.djangolib.markup import HTML, Text
%>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="home">
        <div id="js-slick">
            <header>
                <div class="outer-wrapper">
                    <div class="title">
                        <hgroup>
                            <h1>Открытый университет</h1>
                            <h2>Егора Гайдара</h2>
                            <h3>Бесплатные онлайн курсы по экономическим дисциплинам в партнерстве с лучшими вузами страны</h3>
                            <a href="/courses" class="theme-btn__invert">Смотреть все курсы</a>
                        </hgroup>

                        ## Disable social buttons for non-edX sites



                    </div>
                </div>
            </header>
            <header>
                <div class="outer-wrapper">
                    <div class="title">
                        <hgroup>
                            <h1>Открытый университет</h1>
                            <h2>Егора Гайдара</h2>
                            <h3>Программы повышения квалификации по экономике, социологии, истории
                                <br>Сопровождение преподавателем</h3>
                            <a href="/courses" class="theme-btn__invert">Смотреть все курсы</a>
                        </hgroup>

                        ## Disable social buttons for non-edX sites



                    </div>
                </div>
            </header>
            <header>
                <div class="outer-wrapper">
                    <div class="title">
                        <hgroup>
                            <h1>Открытый университет</h1>
                            <h2>Егора Гайдара</h2>
                            <h3>Удобный график учебы. Курсы для молодых ученых. Курсы по методике преподавания
                                <br>от опытных преподавателей ведущих вузов</h3>
                            <a href="/courses" class="theme-btn__invert">Смотреть все курсы</a>
                        </hgroup>

                        ## Disable social buttons for non-edX sites



                    </div>
                </div>
            </header>
        </div>


        <%include file="${courses_list}" />

    </section>
</main>


  <section id="video-modal" class="modal home-page-video-modal video-modal">
    <div class="inner-wrapper">
      <iframe title="YouTube Video" width="640" height="360" src="//www.youtube.com/embed/gKgBgZhxc88" frameborder="0" allowfullscreen></iframe>
    </div>
  </section>


<%block name="js_extra">
   <script type="text/javascript">
    $(window).load(function () {
        if (getParameterByName('next')) {
            $('#login').trigger("click");
        }
    })
</script>
</%block>

% if show_signup_immediately is not UNDEFINED:
  ## NOTE: This won't work in production, because anonymous views are cached, so it will
  ## show either with or without this extra js for 3 minutes at a time.
<script type="text/javascript">
    $(window).load(function () { $('#signup_action').trigger("click"); });
</script>
% endif
