## mako
<%namespace name='static' file='static_content.html'/>
<%namespace file='main.html' import="login_query, stanford_theme_enabled"/>
<%!
from django.core.urlresolvers import reverse
from django.utils.translation import ugettext as _

from microsite_configuration import microsite
from microsite_configuration.templatetags.microsite import platform_name
from lms.djangoapps.ccx.overrides import get_current_ccx

# App that handles subdomain specific branding
import branding
# app that handles site status messages
from status.status import get_site_status_msg
%>

## Provide a hook for themes to inject branding on top.
<%block name="navigation_top" />

<%block>
<%
try:
    course_id = course.id
except:
    # cant figure out a better way to get at a possibly-defined course var
    course_id = None
site_status_msg = get_site_status_msg(course_id)
%>
% if site_status_msg:
<div class="site-status">
  <div class="inner-wrapper">
    <span class="white-error-icon"></span>
    <p>${site_status_msg}</p>
  </div>
</div>
% endif
</%block>

<div id="updatedOnCourseReset" style="position:absolute; display:none; z-index: 99;background-color: rgba(166,166,166,0.5); width:100%; height:100%;">
<div id="xupdatedOnCourseReset" style="position:absolute; z-index: 100;background-color: white;">
	<style>
	.appliedx-notification{width: 600px;height: 360px;box-shadow: 3px 3px 12px #ccc;margin: 0px auto;}
	.appliedx-notification-content{float: right; padding: 12px;font-family: calibri;line-height:18px;}
	.appliedx-notification-header{float: right; width: 100%;background-color: #32f843;font-family: segoe UI;color: white;border-radius: 5px 5px 0px 0px;vertical-align: middle;box-shadow: 0px 0px 0px 2px #b4e391;background: #b4e391; background: -moz-linear-gradient(top,  #b4e391 0%, #61c419 50%, #b4e391 100%); background: -webkit-linear-gradient(top,  #b4e391 0%,#61c419 50%,#b4e391 100%);background: linear-gradient(to bottom,  #b4e391 0%,#61c419 50%,#b4e391 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4e391', endColorstr='#b4e391',GradientType=0 );"}
	</style>
	<div class="appliedx-notification-overlay" style="position:absolute; left:0px; top:0px; width:100%; height:100%; display:none;"></div>
	<div class="appliedx-notification">
		<div class="appliedx-notification-header">
			<img src="/static/themes/stanford/images/i.png" style="height: 30px;vertical-align: middle;padding: 0px 3px;">
			New in appliedx
		</div>
		<div class="appliedx-notification-content">
			<div style="font-size: 20px;padding: 10px 0px;color: #62962e;font-size: 24px;">You think your knowledge can help others? Now you have the chance!</div>
			<img src="http://appliedx/asset-v1:appliedx+Showcase+2015+type@asset+block@Showcase_Image.png" style="width: 150px;float: left;">
			<p>Have you been enjoying the appliedx platform and courses so far? Would you like to create one on your own to disseminate your expertise to your colleagues and become the next appliedx rockstar?!
			</p>
			<p>You are in luck! A class that explains how to go about making appliedx courses is now available. It details the various types of appliedx courses, course production methods and best practices for creating content. You’ll find all the information you need to make the next great appliedx course.
  			</p>
			<p>What are you waiting for? <a href="http://appliedx/courses/course-v1:appliedx+Showcase+2015/about">Sign up now</a> for the class and stay tuned for information about an event where you can learn more about being an instructional designer!</p>
 			<div class="appliedx-notification-close-button" style="cursor:pointer; background: #6dd149;color: #f4f4f4;display: inline-block;text-align: center;width: 100px;padding: 10px;font-family: Calibri;font-size: 17px;font-weight: bold;float: right;" onclick="closepopup()">Got it!</div>
		</div>
	</div>
	<script type="text/javascript">
		setTimeout(function(){
			$("#xupdatedOnCourseReset").css("left", ($(window).width()-600)/2);
        	        $("#updatedOnCourseReset").css("height", $(document).height());
			if(!localStorage["updatedOnShowcase"]) {
                        	document.getElementById("updatedOnCourseReset").style.display="block";
                	}	
		}, 2000);
		function closepopup()
		{
			document.getElementById("updatedOnCourseReset").style.display="none";
			localStorage["updatedOnShowcase"]=false;
		}
	
	</script>
<script type="text/javascript">
function getPageTitle(){
	$("*", $(".provider").parent()).show();
	var pageTitle = $(".provider").parent()[0].innerText.split(":")[1];
	$(".provider").hide()
	$(".course-number", $(".provider").parent()).hide()
	return pageTitle;
}
function getSubTitle() {
        return $(".chapter-menu").length==0?$("li.active p")[0].innerText.replace($("li.active span.sr")[0].innerText,"").trim().split("(")[0]:$(".chapter-menu .active p")[0].innerText.replace($(".chapter-menu .active span.sr")[0].innerText,"").trim().split("(")[0].split("/n")[0];
}

setTimeout(function(){
$("yammer").each(function(){
	var CourseTitle = getPageTitle();
	var CurrentTitle = getSubTitle();
	var Title = CourseTitle + " - "+ CurrentTitle;
	var type = $(this).attr("type");
	if(type == "embed"){debugger;
		var custom_prompt = $(this).attr("data-prompt") || "Have a feedback or question?";
		var grpId = $(this).attr("data-group-id")
		$(this).append("<h2><span style='font-size: 1em; letter-spacing: 1px; line-height: 1.2em;'>Discuss this course on Yammer</span></h2><div id='embedded-feed' style='height: 500px; width: 100%;'></div><script src='https://assets.yammer.com/assets/platform_embed.js'/>");
		setTimeout(function(){
			yam.connect.embedFeed({
				container: "#embedded-feed",
				network: 'amat.com',
				objectProperties: {
					"url": window.location.href,
					"title": Title           	
				},
				feedType: "open-graph",
				config: {
					use_sso: true
					, header: false
			        	, footer: false
		        	     	, showOpenGraphPreview: false
	        	     		, defaultToCanonical: false
	             			, hideNetworkName: true
	             			, promptText: custom_prompt
		             		, defaultGroupId: grpId
				}
			});
		}, 2000)
	}
});}, 2000);
</script>
</div>
</div>
<style>
header.global .user>.primary:last-child>a {
    height: 32px;
    padding: 0px 10px;
    vertical-align: middle;
    padding-top: 4px;
}
</style>
  <header id="global-navigation" class="global ${"slim" if course else ""}" >
    <nav class="nav-wrapper" aria-label="${_('Global')}">
    <h1 class="logo">
      <a href="${marketing_link('ROOT')}">
        <%block name="navigation_logo">
            <img src="${static.url(branding.get_logo_url())}" alt="${_("{platform_name} Home Page").format(platform_name=platform_name())}"/>
        </%block>
      </a>
    </h1>

    % if course:
    <h2 class="course-header"><span class="provider" style="display:none">${course.display_org_with_default | h}:</span>
      <span class="course-number" style="display:none">${course.display_number_with_default | h}</span>
      <%
        display_name = course.display_name_with_default
        if settings.FEATURES.get('CUSTOM_COURSES_EDX', False):
          ccx = get_current_ccx(course.id)
          if ccx:
            display_name = ccx.display_name
      %>
      <span class="course-name">${display_name}</span></h2>
    % endif

    % if user.is_authenticated():
    <ol class="left nav-global authenticated">
      <%block name="navigation_global_links_authenticated">
        % if settings.FEATURES.get('COURSES_ARE_BROWSABLE'):
          <li class="nav-global-01">
            <a href="${marketing_link('COURSES')}">${_('Find Courses')}</a>
          </li>
        % endif
        %if settings.FEATURES.get('ENABLE_SYSADMIN_DASHBOARD','') and user.is_staff:
          <li>
            ## Translators: This is short for "System administration".
            <a href="${reverse('sysadmin')}">${_("Sysadmin")}</a>
          </li>
        %endif
      </%block>
    </ol>
    <ol class="user">
      <li class="primary">
        <a href="${reverse('dashboard')}" class="user-link">
          <span class="sr">${_("Dashboard for:")}</span>
          <div>
          ${user.username}
          </div>
        </a>
      </li>
      <li class="primary">
        <button class="dropdown" aria-haspopup="true" aria-expanded="false"><span class="sr">${_("More options dropdown")}</span><span class="fa fa-sort-desc" aria-hidden="true"></span></button>
        <ul class="dropdown-menu" aria-label="More Options" role="menu">
          <%block name="navigation_dropdown_menu_links" >
            <li><a href="${reverse('dashboard')}">${_("Dashboard")}</a></li>
            <li><a href="${reverse('learner_profile', kwargs={'username': user.username})}">${_("Profile")}</a></li>
            <li><a href="${reverse('account_settings')}">${_("Account")}</a></li>
          </%block>
          <li><a href="${reverse('logout')}" role="menuitem">${_("Sign Out")}</a></li>
        </ul>
      </li>
    </ol>
      % if should_display_shopping_cart_func() and not (course and microsite.is_request_in_microsite()): # see shoppingcart.context_processor.user_has_cart_context_processor
        <ol class="user">
          <li class="primary">
            <a class="shopping-cart" href="${reverse('shoppingcart.views.show_cart')}">
              <i class="icon fa fa-shopping-cart"></i> ${_("Shopping Cart")}
            </a>
          </li>
        </ol>
      % endif
    % else:
    <!--script type="text/javascript">document.location.href="/auth/login/tpa-saml/?auth_entry=login&next=%2Fdashboard&idp=pingsso"</script-->
    <ol class="left nav-global">
      <%block name="navigation_global_links">
        % if microsite.get_value('ENABLE_MKTG_SITE', settings.FEATURES.get('ENABLE_MKTG_SITE', False)):
          <li class="nav-global-01">
            <a href="${marketing_link('HOW_IT_WORKS')}">${_("How it Works")}</a>
          </li>
          % if settings.FEATURES.get('COURSES_ARE_BROWSABLE'):
            <li class="nav-global-02">
              <a href="${marketing_link('COURSES')}">${_("Courses")}</a>
            </li>
          % endif
          <li class="nav-global-03">
            <a href="${marketing_link('SCHOOLS')}">${_("Schools")}</a>
          </li>
        % endif
      </%block>
      % if not settings.FEATURES['DISABLE_LOGIN_BUTTON']:
          % if settings.FEATURES.get('ENABLE_COURSE_DISCOVERY'):
          <li class="nav-global-05">
            <a class="cta cta-discovery" href="/courses">${_("Find Courses")}</a>
          </li>
          %endif
          % if course and settings.FEATURES.get('RESTRICT_ENROLL_BY_REG_METHOD') and course.enrollment_domain:
          <li class="nav-global-04">
            <a class="cta cta-register" href="${reverse('course-specific-register', args=[course.id.to_deprecated_string()])}">${_("Register")}</a>
          </li>
          % else:
          <li class="nav-global-04">
            <a class="cta cta-register" href="/register${login_query()}">${_("Register")}</a>
          </li>
          % endif

      % endif
    </ol>

    <ol class="right nav-courseware">
    <li class="nav-courseware-01">
      % if not settings.FEATURES['DISABLE_LOGIN_BUTTON']:
          % if course and settings.FEATURES.get('RESTRICT_ENROLL_BY_REG_METHOD') and course.enrollment_domain:
          <a class="cta cta-login" href="${reverse('course-specific-login', args=[course.id.to_deprecated_string()])}${login_query()}">${_("Sign in")}</a>
          % else:
          <a class="cta cta-login" href="/login${login_query()}">${_("Sign in")}</a>
          % endif
      % endif
    </li>
    </ol>
    % endif
         <ol class="help authenticated" style="float:right; margin-top:5px; margin-right:50px; cursor:pointer;" >     
      <li class="nav-global-01">
        <a href="#" onclick="document.getElementById('customhelp').style.display='block'">Help</a>
      </li>
    </ol>
    <div id="customhelp"  onclick="document.getElementById('customhelp').style.display='none'" >
	<style>
	#customhelp{
		font-family: calibri;
		position: fixed;
		z-index: 10000;
		background-color: #fff;
		padding: 25px;
		border: double 3px #ccc;
		box-shadow: 0px 0px 10px 10px rgba(100,100,100, 0.5);
		top: 10%;
		left: 10%;
		width:80%;
		display:none;
		height:500px;
		overflow:scroll;
	}
	#customhelp h1{
		color: rgb(23,54,93);
		border-bottom: solid 1px rgb(123,154,193);
		padding: 5px;
   		 text-align:left;
	}
	#customhelp h2{
    display:block;
		font-size: 19px;
		color: rgb(63,94,133);
		margin-bottom: 2px;
		margin-top: 25px;
		text-transform: capitalize;
    float:none;
	}
	#customhelp p{
		margin-top: 2px;
	}
	#customhelp .emphasize{
		font-weight: bold;
    float:left;
	}
	 #customhelp .closebutton{
		float: right;
		padding: 10px 25px;
		background-color: #9dd169;
		color: white;
	}
	 #customhelp .closebutton:hover{
		background-color: #62962e;
	}
	 #customhelp img{
		max-width:100%;
		padding:10px 0px;
	}
	.chtrigger:hover{
		color:#62962e;
		border-bottom:dotted 1px #62962e;
	} 
   .appliedx-notification-content{ padding: 8px;font-family: calibri;}
		
	</style>
	<h1>Appliedx Help</h1>
	Welcome to appliedx help, you can raise your issues via following methods -
	<h2>AGU credit</h2>
	<div class="emphasize">To get credit for completing the course, please follow these instructions.</div>
	<ol>
		<li>1. Review your progress by selecting the Progress menu shown in the top ribbon.</li>
		<li>2. Press the "Get credit for this course" button if you have a passing grade. If you don't have a passing grade, the button will not appear.
			<img src="/static/themes/stanford/images/help1.png"/>
		</li>
		<li>3. You can look at the questions have not answered yet or reattempt questions which allow multiple attempts to achieve the pass grade
			<img src="/static/themes/stanford/images/help2.png"/>
		</li>
		<li>4. If there is no way you will meet the progress criterion for the course. Please follow the steps below to reset your attempts -
    
    <div class="appliedx-notification-content" style="float:none">
				<ul>
					<li>A. Open the dashboard and find the course attempts you want to reset</li>
					<li>B. Click on the settings<img src="/static/themes/stanford/images/settings.png" style="vertical-align: bottom;">icon at the right side of the course name</li>
					<li>C. From the dropdown select "Reset Attempts"
						<div><img src="/static/themes/stanford/images/menu.png" style="height: 150px;"></div>
					</li>
					<li>D. Confirm reset on the dialog
						<div><img src="/static/themes/stanford/images/resetconfirm.png" style="height: 100px;"></div>
					</li>
				</ul>
  		 
    </li>
	</ol>
	<h2>Raise a ticket</h2>
	You can contact help desk if you are having any issue related to login, register or AGU credit. You can also raise a ticket if you are facing problem in accessing the video or course content. Click here to raise a ticket using <a target="_blank" onclick="document.getElementById('customhelp').style.display='none'" href="https://amat.service-now.com/AMAT3/submit_ticket.do?sysparm_url=com.glideapp.servicecatalog_cat_item_view.do%3Fv%3D1%26sysparm_id%3Da9407bce8de239002043d9779f0438dd%26keyword%3DAll%20Summaries%26summary_category%3DAppliedX%26summary%3DAppliedX%20Application&step2=197062b144dc71001e5e858bd9ecf95b">SERVICE NOW </a>
	<h2>Questions/ Feedback: Use Yammer Feature</h2>
	You can enter your comments/feedback using yammer feature in appliedx. You can also ask questions to the instructor using yammer. 
<!--	<h2>Send us a mail</h2>
	You can also raise a concern or issue by writing to us at <a href="mailto:appliedx_info@amat.com">appliedx_info@amat.com </a> --> <br/>
	<div class='closebutton' onclick="document.getElementById('customhelp').style.display='none'" >Close Help</div>
</div>
  </nav>
</header>
% if course:
<!--[if lte IE 9]>
<div class="ie-banner" aria-hidden="true">${_('<strong>Warning:</strong> Your browser is not fully supported. We strongly recommend using {chrome_link} or {ff_link}.').format(chrome_link='<a href="https://www.google.com/chrome" target="_blank">Chrome</a>', ff_link='<a href="http://www.mozilla.org/firefox" target="_blank">Firefox</a>')}</div>
<![endif]-->
% endif

<%include file="help_modal.html"/>

