<%!
from django.utils.translation import ugettext as _
from django.core.urlresolvers import reverse
%>
<%namespace file='main.html' import="login_query, stanford_theme_enabled"/>
<%namespace name='static' file='static_content.html'/>


<header>
  <h3 class="sr">${_("Registration Help")}</h3>
</header>

% if has_extauth_info is UNDEFINED:

<div class="cta cta-login">
  <h3 class="title">${_("Already registered?")}</h3>
  <p class="instructions">
    <a class="cta-login-action" href="${reverse('signin_user')}${login_query()}">
      ${_("Log in")}
    </a>
  </p>
</div>

% endif

  <div class="cta cta-welcome">
    <h3>${_("Welcome to {platform_name}").format(platform_name=platform_name)}</h3>
    <p>${_("Register to {platform_name} using your Google+ account. This is how you will gain access to our online curriculae.").format(platform_name=platform_name)}</p>
  </div>

<div class="cta cta-nextsteps">
  <h3>${_("Next Steps")}</h3>
    <p>${_("After successfully connecting with Google+, fill in the information to the left and Create your account.")}</p>
</div>

