{% extends "emails/main.html" %}

{% load i18n %}{% load url from future %}{% autoescape off %}
{% block message %}
-->
<p>
{% trans "You're receiving this e-mail because you requested a password reset for your user account at" %} {{ site_name }}
</p>
<p>
{% trans "Please go to the following page and choose a new password:" %}
</p>
<p>
{% block reset_link %}
{{ protocol }}://{{ site_name }}{% url 'student.views.password_reset_confirm_wrapper' uidb36=uid token=token %}
{% endblock %}
</p>
<p>
{% trans "If you didn't request this change, you can disregard this email - we have not yet reset your password." %}
</p>
<p>
{% trans "Thanks for using our site!" %}
</p>
<p>
{% blocktrans %}The {{ platform_name }} Team{% endblocktrans %}
</p>
<!--
{% endblock %}
{% endautoescape %}
