{% extends "emails/main.html" %}

{% load i18n %}{% load url from future %}{% autoescape off %}
{% block message %}
-->
<p>
{% blocktrans %}Thank you for registering for the module series Digital Transformation!{% endblocktrans %}
</p>
<p>
{% blocktrans %}Before getting started please select a password. Click on the link below and follow the instructions:{% endblocktrans %}
</p>
<p>
{% block reset_link %}
{{ protocol }}://{{ site_name }}{% url 'student.views.password_reset_confirm_wrapper' uidb36=uid token=token %}
{% endblock %}
</p>
<p>
{% blocktrans %}We look forward to having you as a participant and hope you will enjoy the courses.{% endblocktrans %}
</p>
<p>
{% trans "All the best!" %}
</p>
<p>
{% trans "Ronald Bernette" %}
</p>
<p>
{% trans "Program Director" %}
</p>
<!--
{% endblock %}
{% endautoescape %}
