{% extends "emails/main.html" %}

{% load i18n %}{% load url from future %}{% autoescape off %}
{% block message %}
-->
<body style="margin:0;padding:0;color: #000000;" bgcolor="#ffffff" link="#002acf">
    <table align="center" cellspacing="0" cellpadding="0" border="0" style="width:100%; max-width:600px; border:0;">
        <tr>
            <td style="height: 15px"></td>
        </tr>
        <tr> 
            <td style="padding-bottom:0;">
                <img src="https://edx-stage-deskua.raccoongang.com/static/deskua/images/bulk_email/desk-banner.jpg" width="600" height="221" alt="desk" style="display:block;width:600px;height:auto;">
            </td>
        </tr>
        <tr>
            <td style="height: 20px"></td>
        </tr>
        <tr>
            <td style="font-size: 15px;line-height:15px;color:#000000">
              <p>
              {% blocktrans %}You're receiving this e-mail because you requested a password reset for your user account at {{ site_name }}.{% endblocktrans %}
              </p>
              <p>
              {% trans "Please go to the following page and choose a new password:" %}
              </p>
                <p>
                {% block reset_link %}
                {{ protocol }}://{{ site_name }}{% url 'student.views.password_reset_confirm_wrapper' uidb36=uid token=token %}
                {% endblock %}
                </p>
            </td>
        </tr>
        <tr>
            <td style="height: 10px"></td>
        </tr>
        <tr>
            <td style="font-size: 15px;line-height:15px;color:#000000">
              {% trans "If you didn't request this change, you can disregard this email - we have not yet reset your password." %}
            </td>
        </tr>
      <tr>
        <td style="height: 10px"></td>
      </tr>
      <tr>
        <td>{% trans "Thanks for using our site!" %}</td>
      </tr>
      <tr>
        <td style="height: 10px"></td>
      </tr>
      <tr>
        <td>{% blocktrans %}The {{ platform_name }} Team{% endblocktrans %}</td>
      </tr>
        <tr>
            <td style="height: 15px"></td>
        </tr>
         <tr>
          <td><a href="tel%0443384238" target="_blank" style="color: #000000;text-decoration: none;" rel="noopener">(044) 338-42-38</a></td>
        </tr>
         <tr>
            <td style="height: 5px"></td>
        </tr>
         <tr>
          <td><a href="tel%0965545626" target="_blank" style="color: #000000;text-decoration: none;" rel="noopener">(096) 554-56-26</a></td>
        </tr>
        <tr>
          <td style="height: 5px"></td>
        </tr>
        <tr>
          <td><a href="mailto=mailto%desk.assistance@gmail.com" target="_blank" style="color: #8a8dba;text-decoration: none;" rel="noopener">desk.assistance@gmail.com</a></td>
        </tr>
         <tr>
            <td style="height: 15px"></td>
        </tr>
      <tr>
        <td>
          <table align="center" cellspacing="0" cellpadding="0" border="0" style="width:100%;border:0;">
            <tr>
              <td style="text-align: center;">
               <a href="https://www.facebook.com/deskeducation" target="_blank" style="display: inline-block; vertical-align: middle;padding-left: 5px;padding-right: 5px;">
                <img src="https://edx-stage-deskua.raccoongang.com/static/deskua/images/bulk_email/icon-facebook.jpg" alt="facebook" height="30" width="30">
              </a>
              <a href="https://vk.com/desk_ua" target="_blank" style="display: inline-block; vertical-align: middle;padding-left: 5px;padding-right: 5px;">
                <img src="https://edx-stage-deskua.raccoongang.com/static/deskua/images/bulk_email/icon-vk.jpg" alt="vk" height="30" width="30">
              </a>
              <a href="https://www.youtube.com/channel/UCwqvKZUOvQCkAwTDn8klp0g" target="_blank" style="display: inline-block; vertical-align: middle;padding-left: 5px;padding-right: 5px;">
                <img src="https://edx-stage-deskua.raccoongang.com/static/deskua/images/bulk_email/icon-youtube.jpg" alt="you-tube" height="30" width="30">
              </a>
              <a href="https://twitter.com/ua_desk" target="_blank" style="display: inline-block; vertical-align: middle;">
                  <img src="https://edx-stage-deskua.raccoongang.com/static/deskua/images/bulk_email/icon-twitter.png" alt="twiiter" height="30" width="30">
              </a>       
              </td>
            </td>
            </tr>
          </table>
        </td>
      </tr>
</table>

</body>
<!--
{% endblock %}
{% endautoescape %}
