// studio - assets - graphics
// ====================

.drag-handle {
	display: inline-block;
	float: right;
	width: 7px;
	height: 22px;
	margin-left: ($baseline/2);
	background: url('#{$static-path}/images/drag-handles.png') no-repeat;
	cursor: move;
}

.button-jitsi {
        margin-right: 10px !important;
}

.large-jitsi-icon {
        display: inline-block;
        width: ($baseline*3);
        height: ($baseline*3);
        background: url('#{$static-path}/images/large-jitsi-icon.png') center no-repeat;
}

.large-advanced-icon {
	display: inline-block;
	width: ($baseline*3);
	height: ($baseline*3);
	background: url('#{$static-path}/images/large-advanced-icon.png') center no-repeat;
}

.large-discussion-icon {
	display: inline-block;
	width: ($baseline*3);
	height: ($baseline*3);
	background: url('#{$static-path}/images/large-discussion-icon.png') center no-repeat;
}

.large-html-icon {
	display: inline-block;
	width: ($baseline*3);
	height: ($baseline*3);
	background: url('#{$static-path}/images/large-html-icon.png') center no-repeat;
}

.large-problem-icon {
	display: inline-block;
	width: ($baseline*3);
	height: ($baseline*3);
	background: url('#{$static-path}/images/large-problem-icon.png') center no-repeat;
}

.large-video-icon {
	display: inline-block;
	width: ($baseline*3);
	height: ($baseline*3);
	background: url('#{$static-path}/images/large-video-icon.png') center no-repeat;
}

a.jitsi-link div {
    background: url('#{$static-path}/images/join.png') center no-repeat;
    height: 90px;
    width: auto;
    background-size: contain;
}
